@use '../../styles/variables.module';

.udtOverviewCard:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  padding-bottom: 20px;

  @media (width <=variables.$mobileBreakPoint) {
    padding-bottom: 16px;
  }
}

.cardTitle {
  display: flex;
  gap: 8px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }

  @media (width <= variables.$mobileBreakPoint) {
    flex-direction: column;
    gap: 4px;
    padding-top: 16px;
    color: #333;
    font-size: 20px;
    font-weight: 600;

    .icon {
      width: 32px;
      height: 32px;
    }
  }
}

.cardHeader {
  @media (width <= variables.$mobileBreakPoint) {
    height: min-content;
    padding: 8px 0 12px;
  }
}

.symbolWithEllipsis {
  display: inline-block;
  max-width: 169px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noneName {
  color: #999;
}

.openInNew {
  cursor: pointer;
  margin-left: 4px;

  svg {
    pointer-events: none;

    path {
      fill: #999;
    }
  }

  @media (width <= variables.$mobileBreakPoint) {
    margin-left: 2px;
  }
}

.viewOriginal {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  &:hover {
    color: var(--primary-color);
  }
}

.addressWidthModify {
  max-width: 80%;

  @media (width <= variables.$extraLargeBreakPoint) {
    max-width: 40%;
  }

  @media (width <= variables.$mobileBreakPoint) {
    max-width: 100%;
  }
}

.searchAndfilter {
  display: flex;
  align-items: center;

  > div:last-child {
    margin-left: 8px;
  }

  @media (width <= variables.$mobileBreakPoint) {
    width: 100%;
  }
}

.modify {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 2.5rem;
  margin-left: 8px;
  border-radius: 4px;
  color: #333;
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);

    path {
      stroke: var(--primary-color);
    }
  }

  @media (width <= variables.$mobileBreakPoint) {
    width: 9.5rem;
    height: 2rem;
    font-size: 0.875rem;
  }
}

.loading {
  background: #fff;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.udtContentPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 40px;

  @media (max-width: variables.$mobileBreakPoint) {
    margin: 0;
    padding: 20px;
  }
}

.typeScriptController {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--primary-color);
  display: flex;
  align-items: center;

  > img {
    width: 12px;
    height: 12px;
    margin: 2px 0 0 5px;
  }

  @media (max-width: variables.$mobileBreakPoint) {
    font-size: 14px;

    > img {
      margin: 0 0 0 5px;
    }
  }
}

.udtTransactionsPanel {
  width: 100%;
}

.udtTransactionsPagination {
  margin-top: 4px;
  width: 100%;
}

.udtTransactionTitlePanel {
  width: 100%;
  height: 58px;
  padding: 0 40px;
  background: white;
  border-radius: 6px 6px 0 0;
  box-shadow: 2px 2px 6px 0 #dfdfdf;

  @media (max-width: variables.$mobileBreakPoint) {
    height: 108px;
    padding: 16px;
  }

  :global(.udtTransactionContainer) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 5px;

    @media (max-width: variables.$mobileBreakPoint) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  :global(.udtTransactionTitle) {
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 0.83;
  }
}

.udtNoResultPanel {
  width: 100%;
  height: 94px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  background-color: #fff;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  > span {
    white-space: pre-wrap;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #666;
    text-align: center;
  }
}
