@use '../../styles/variables.module';

.container {
  margin: 0 120px 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  h5 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0;
  }
}

.navigation {
  display: flex;
  width: 100%;
  height: 3.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #fff;
  margin-bottom: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  @media (width <= variables.$mobileBreakPoint) {
    flex-direction: column;
    justify-content: stretch;
    padding: 1rem;
    height: auto;
  }

  .tabs {
    overflow: hidden;
    display: flex;
    font-size: 1.25rem;
    align-self: stretch;

    @media (width <= variables.$mobileBreakPoint) {
      justify-content: space-between;
    }

    a {
      display: flex;
      align-items: center;
      color: #333;
      font-weight: 400;
      border-bottom: 4px solid transparent;

      &:not(:last-child) {
        margin-right: 4rem;

        @media (width <= variables.$xxlBreakPoint) {
          margin-right: 3rem;
        }

        @media (width <= 1280px) {
          margin-right: 1rem;
        }
      }

      @media (width <= 1280px) {
        font-size: 0.875rem;
      }

      &[data-is-active='true'] {
        font-weight: 500;
        border-bottom-color: var(--primary-color);
      }

      @media (width <= variables.$mobileBreakPoint) {
        border-bottom-width: 2px;
        font-size: 1.125rem;
      }
    }
  }

  .filters {
    display: flex;

    @media (width <= variables.$mobileBreakPoint) {
      & > div {
        margin-top: 1.5rem;

        &:first-child {
          flex: 1;
        }
      }
    }

    @media (width <= variables.$mobileBreakPoint) {
      width: 100%;
    }
  }

  .filterItems {
    display: flex;
    flex-direction: column;
    width: 200px;

    a {
      display: flex;
      justify-content: space-between;
      color: var(--primary-color);
      padding: 10px 0 10px 10px;
      margin-right: 8px;
      border-radius: 8px;

      &:hover {
        background: var(--primary-hover-bg-color);
        color: var(--primary-color-hover);
        cursor: pointer;
      }

      &[data-is-active='false'] {
        color: #000;

        svg {
          display: none;
        }
      }
    }

    svg path {
      fill: var(--primary-color);
    }
  }
}

.list {
  background: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 0 15px;

  table {
    width: 100%;
    margin-bottom: 4px;
  }

  thead {
    position: relative;
    font-size: 14px;
    font-weight: 700;

    th {
      vertical-align: middle;
      padding-top: 12px;
      padding-bottom: 12px;
      text-transform: capitalize;
      white-space: nowrap;
    }

    &::after {
      position: absolute;
      left: -15px;
      bottom: -2px;
      width: calc(100% + 30px);
      height: 4px;
      content: '';
      display: block;
      background-color: #ededed;
    }
  }

  tbody {
    td {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
    }

    tr:not(:last-child) {
      border-bottom: 1px solid #d8d8d8;
    }
  }

  th,
  td {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 0.25vw;

    &:not(:first-of-type) {
      text-align: right;
    }

    &:first-child,
    &:last-child {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .noRecord {
    text-align: center;
  }
}

@media (width <= variables.$extraLargeBreakPoint) {
  .container {
    margin: 0 45px 60px;
  }
}

@media (width <= variables.$mobileBreakPoint) {
  .container {
    margin: 0 8px 60px;
  }
}

.sortIcon {
  border: none;
  outline: none;
  background-color: transparent;
  padding-top: 3px;
  height: 19px;
  margin-left: 8px;
  cursor: pointer;
}

.sortAsc {
  svg > path:first-child {
    fill: var(--primary-color);
  }
}

.sortDesc {
  svg > path:last-child {
    fill: var(--primary-color);
  }
}

.typeFilter {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 0.8rem;

  svg {
    color: #999;
  }

  &[data-is-active='true'] {
    svg {
      color: var(--primary-color);
    }
  }
}

.filterItems {
  display: flex;
  flex-direction: column;
  width: 200px;

  a {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    padding: 10px 0 10px 10px;
    margin-right: 8px;
    border-radius: 8px;

    &:hover {
      background: var(--primary-hover-bg-color);
      color: var(--primary-color-hover);
      cursor: pointer;
    }

    &[data-is-active='false'] {
      color: #000;

      svg {
        display: none;
      }
    }
  }

  svg path {
    fill: var(--primary-color);
  }
}
