.container {
  width: 100%;
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #e92525;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  a {
    color: #fff;
    cursor: pointer;

    // &:hover{
    //     color:var(--primary-color);
    // }
  }
}
