@use '../../styles/variables.module';

.container {
  width: 100%;
  height: auto;
  min-height: 40px;
  background: #D74F34;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 4px;
  box-sizing: border-box;

  .icon {
    width: 16px !important;
    height: 16px !important;
    flex-shrink: 0;
  }

  .arrowicon {
    display: inline !important;
    margin: 0 4px;
  }

  .link {
    color: #fff;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .content {
    word-break: break-all;
    line-height: 20px;
    margin: 0;
  }

  @media (width <= calc(variables.$mobileBreakPoint + 100px)) {
    align-items: flex-start;
    padding: 8px 4px;
    gap: 4px;

    .icon {
      align-self: flex-start;
      margin-top: 3px;
    }

    .content {
      align-self: flex-start;
    }
  }
}
