@use '../../styles/variables.module';

.container {
  width: 100%;
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #e92525;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0 4px;

  a {
    color: #fff;
    cursor: pointer;
  }

  @media (width <= variables.$mobileBreakPoint) {
    font-size: 12px;
    // align-items: flex-start;
    gap:4px;
  }

}
