@use '../../../styles/variables.module';

.container {
  margin: 40px 120px 24px;
  background-color: #fff;
  margin-bottom: 18px;
  padding: 20px 40px;
  box-shadow: #dfdfdf 2px 2px 6px 0;
  border-radius: 6px;

  .header {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 6px;
    }
  }

  dl {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  object-fit: cover;
}

.desc {
  margin: 20px 0;
  color: #494949;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
}

@media (width <= variables.$extraLargeBreakPoint) {
  .container {
    margin: 40px 45px 24px;
  }
}

@media (width <= variables.$mobileBreakPoint) {
  .container {
    margin: 40px 8px 24px;
  }
}

.tags {
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  gap: 8px;

  @media (width <= variables.$mobileBreakPoint) {
    margin-bottom: 16px;
  }
}
