@import '../../../styles//variables.module.scss';

.transactionCellDetailModal {
  border-radius: 4px;
  background-color: #fff;
  margin: 15% auto;
  padding: 24px 40px;
  width: 75%;

  @media (max-width: $mobileBreakPoint) {
    width: 90%;
    margin-top: 40%;
    margin-left: 15% auto;
    padding: 10px;
  }
}
