@import '../../../styles/variables.module';

.list {
  background: #fff;

  table {
    position: relative;
    width: 100%;
  }

  thead {
    position: relative;
    font-size: 14px;
    font-weight: 700;

    th {
      vertical-align: middle;
      padding-top: 12px;
      padding-bottom: 12px;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }

  tbody {
    td {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
      white-space: nowrap;
    }

    tr {
      border-top: 1px solid var(--table-separator-color);
    }
  }

  th,
  td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child,
    &:last-child {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .item {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .icon,
  .defaultIcon {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 6px;
    flex-shrink: 0;
    object-fit: cover;
  }

  .defaultIcon {
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }

  .noRecord {
    text-align: center;
  }

  ul {
    display: none;
    margin-bottom: 4px;
  }

  ul,
  dl {
    list-style: none;

    .item {
      padding-bottom: 16px;
    }
  }

  li {
    padding: 16px;

    &:not(:last-child) {
      border-bottom: 1px solid #d8d8d8;
    }
  }

  dl > div {
    display: flex;
    width: 100%;
  }

  dt {
    width: 100px;
  }

  dd {
    text-align: right;
    flex: 1;
  }

  @media (width <= $extraLargeBreakPoint) {
    table {
      display: none;
    }

    ul {
      display: block;
    }
  }
}

.age {
  cursor: pointer;
}

.tokenId {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}
