$backgroudColor: #232323;

.Root {
  width: 100%;
  background-color: $backgroudColor;
  height: 200px;
  position: relative;
  background-image: url('../../assets/ckb_explorer_banner.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  @media(max-width: 750px) {
    background-image: url('../../assets/ckb_explorer_banner_phone.svg');
  }
  
  .TextContain {
    background-color: $backgroudColor;
    mix-blend-mode: screen;
    position: absolute;
    bottom: 25%;
    display: inline;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    filter: contrast(110%) brightness(260%);

    .Text {
      margin: 0;
      position: relative;
      white-space: nowrap;
      text-transform: uppercase;
      letter-spacing: 15px;
      font-weight:900;
      font-size: 70px;
      text-shadow: 0 0 4px currentColor;

      
      // Only works on a black background, sorry
      background: black;
      
      // The actual text inside the div is superfluous, only data-text matters. The text is added so you can easily edit the preview
      color: transparent;
      
      &::before,
      &::after {
        // Add two copies of the text on their own layer
        content: attr(data-text);
        text-transform: uppercase;
        
        // White, so we can paint them later
        color: white;
        
        // And blur them to create the neon effect with the blend-mode below
        filter: blur(0.02em);
        
        position: absolute;
        top: 0; left: 0;
        pointer-events: none;
      }
      
      // Set the top copy to difference. This creates the knock-out effect with a bit of glow
      &::after {
        mix-blend-mode: difference;
      }

    }

    @media screen and (max-width: 825px) {
      bottom: 30%;
      .Text {
        font-size: 50px;
      }
    }

    @media screen and (max-width: 650px) {
      bottom: 20%;
      .Text {
        font-size: 40px;
        text-align: center;
        white-space: pre-line;
      }
    }

    // Position our two effect layers
    .Gradient,
    .Spotlight {
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      pointer-events: none;
      z-index: 10;  
    }

    // Add the colors
    .Gradient {
      background: linear-Gradient(45deg, #00cc9b , lemonChiffon);
      
      // Multiply mode will paint only the white text
      mix-blend-mode: multiply;
    }

    .Spotlight {
      animation: light 5s infinite linear;
      
      // These are the lights, color-dodge needs a black bg for optimum effect
      background: 
        radial-Gradient(circle, #5ccc00, black 25%) 0 0 / 10% 10%, 
        radial-Gradient(circle, #5ccc00, transparent 25%) 50% 50% / 10% 10%;
      top: -100%; left: -100%;
      
      // Color dodge gives the lights that shimmer effect
      mix-blend-mode: color-dodge;
    }

    @keyframes light {
      100% {
        transform: translate3d(50%, 80%, 0);
      }
    }
  }
}
