@import '../../../styles/variables.module';

.sheetPanel {
  width: 100%;
  background: #d03a3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0 20px;

  @media (max-width: $mobileBreakPoint) {
    padding: 6px 0 10px;
  }
}

.sheetItem {
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 5px;

  @media (max-width: $mobileBreakPoint) {
    font-size: 14px;
  }
}

.sheetPointPanel {
  display: flex;
  align-items: top;
  justify-content: left;
  width: 50%;

  &.isSingle {
    justify-content: center;
  }

  > span {
    margin-right: 3px;
    margin-top: 8px;
    color: white;
  }

  @media (max-width: $mobileBreakPoint) {
    width: 86%;

    > span {
      margin-top: 0;
    }
  }
}
