.blockNumber {
  display: flex;
  align-items: center;
  .prev,
  .next {
    display: flex;
    align-items: center;
    svg {
      rect {
        fill: var(--primary-color);
        opacity: 0.15;
      }
      path {
        stroke: var(--primary-color);
      }
    }
    &:hover {
      svg {
        rect {
          fill: var(--primary-color);
          opacity: 1;
        }
        path {
          stroke: #fff;
        }
      }
    }
    &[data-disabled='true'] {
      pointer-events: none;
      svg {
        rect {
          fill: #f0f0f0;
          opacity: 1;
        }
        path {
          stroke: #999;
        }
      }
    }
  }
  .prev {
    margin-right: 8px;
  }
  .next {
    margin-left: 8px;
    transform: rotate(0.5turn);
  }
}

.addressWidthModify {
  max-width: 80%;

  @media (max-width: 1200px) {
    max-width: 40%;
  }

  @media (max-width: 750px) {
    max-width: 100%;
  }
}

.transactionTitleCard {
  @media (max-width: 750px) {
    flex-direction: column;
    justify-content: center;
    height: 110px;

    img {
      height: 12px;
      width: 12px;
    }
    input {
      padding-left: 38px;
    }
  }
}
