@import '../../styles/variables.module';

.blockNumber {
  display: flex;
  align-items: center;

  .prev,
  .next {
    display: flex;
    align-items: center;

    svg {
      rect {
        fill: var(--primary-color);
        opacity: 0.15;
      }

      path {
        stroke: var(--primary-color);
      }
    }

    &:hover {
      svg {
        rect {
          fill: var(--primary-color);
          opacity: 1;
        }

        path {
          stroke: #fff;
        }
      }
    }

    &[data-disabled='true'] {
      pointer-events: none;

      svg {
        rect {
          fill: #f0f0f0;
          opacity: 1;
        }

        path {
          stroke: #999;
        }
      }
    }
  }

  .prev {
    margin-right: 8px;
  }

  .next {
    margin-left: 8px;
    transform: rotate(0.5turn);
  }
}

.addressWidthModify {
  max-width: 80%;

  @media (width <= $extraLargeBreakPoint) {
    max-width: 40%;
  }

  @media (width <= $mobileBreakPoint) {
    max-width: 100%;
  }
}

.transactionListOptionsCard {
  margin-top: 24px;

  .cardHeader {
    padding: 8px 0;

    @media (width <= $mobileBreakPoint) {
      padding: 16px 0;

      img {
        height: 12px;
        width: 12px;
      }

      input {
        padding-left: 38px;
      }
    }
  }
}

.cellTransactionsRoot {
  box-sizing: content-box;
  margin-top: 4px;
  border-top: 1px solid #e5e5e5;
  padding: 20px 0;
}
