.blockNumber {
  display: flex;
  align-items: center;
  .prev,
  .next {
    display: flex;
    align-items: center;
    svg {
      rect {
        fill: var(--primary-color);
        opacity: 0.15;
      }
      path {
        stroke: var(--primary-color);
      }
    }
    &:hover {
      svg {
        rect {
          fill: var(--primary-color);
          opacity: 1;
        }
        path {
          stroke: #fff;
        }
      }
    }
    &[data-disabled='true'] {
      pointer-events: none;
      svg {
        rect {
          fill: #f0f0f0;
          opacity: 1;
        }
        path {
          stroke: #999;
        }
      }
    }
  }
  .prev {
    margin-right: 8px;
  }
  .next {
    margin-left: 8px;
    transform: rotate(0.5turn);
  }
}

.addressWidthModify {
  max-width: 80%;

  @media (max-width: 1200px) {
    max-width: 40%;
  }

  @media (max-width: 750px) {
    max-width: 100%;
  }
}

:global(.ant-tooltip) {
  max-width: 320px;
}

.comparedSizeTooltip {
  :global(.ant-tooltip-inner) {
    border-radius: 8px;
    mix-blend-mode: normal;
    padding: 10px 16px;
    > div {
      font-weight: 400;
      margin: 0;
      > div:first-child {
        font-size: 16px;
        line-height: 19px;
        padding: 0 0 3px 0;
      }
      > div:nth-child(2) {
        font-size: 14px;
        line-height: 16px;
        padding: 3px 0;
      }
    }
    > div:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
