.scriptsTitleOverviewPanel {
  display: flex;
  flex-direction: column;
}

.scriptContentPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 40px;

  @media (max-width: 750px) {
    margin: 0;
    padding: 20px;
  }
}

.scriptTabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 6px 6px 0 0;
  :global(.ant-tabs-nav:before) {
    border-bottom-width: 3px;
  }
  :global(.ant-tabs-nav-list) {
    margin-left: 40px;
  }
  :global(.ant-tabs-tab-btn) {
    color: #333333 !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 0;
  }
  :global(.ant-tabs-tab-btn[aria-selected='true']) {
    font-weight: 500;
  }
  :global(.ant-tabs-ink-bar) {
    background: linear-gradient(to right, transparent 30%, var(--primary-color) 30%, var(--primary-color) 70%, transparent 70%);
    height: 3px !important;
    bottom: 3px !important;
  }
}

.scriptTransactionsPanel {
  width: 100%;
  padding: 0 40px;

  thead th {
    padding: 5px 0 22px;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    &::before {
      display: none;
    }
  }

  tbody td {
    padding: 22px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  :global(.transaction_item__hash) {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-color);
  }
}

.scriptDecimalCenter {
  > div {
    justify-content: center;
    align-items: baseline;
  }
}

.cellInfoMore {
  > div {
    float: right;
  }
  :global(.transaction__cell__info__content) {
    width: fit-content !important;
    padding: 0 20px;
    line-height: 0;
  }
}

.scriptPagination {
  margin-top: 4px;
  width: 100%;
}

.codeHashMessagePanel {
  display: flex;
  align-items: center;
  min-width: 0;
}
