@use '../../styles/variables.module';

.scriptContentPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 40px;

  @media (width <= variables.$mobileBreakPoint) {
    margin: 0;
    padding: 20px;
  }
}

.countInfo {
  display: flex;
  gap: 2px;
  align-items: center;
  color: #666;
  font-size: 16px;
  font-weight: 400;
}

.scriptTransactionsConfigPanel {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 12px 40px;
}

.scriptTabs:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  background-color: #fff;

  > div[role='tablist'] {
    height: 56px;
    padding: 0 30px;

    @media (width <= variables.$mobileBreakPoint) {
      padding: 0;
    }
  }

  .cardHeader {
    padding: 0;
  }
}

.scriptCellsPanel,
.scriptTransactionsPanel {
  table {
    width: 100%;
    line-height: 1.2;

    tr {
      border-bottom: 1px solid #e5e5e5;
    }

    tbody tr:last-child {
      border-bottom: none;
    }

    th {
      font-size: 1rem;
      font-weight: 500;
      color: #333;
    }

    th,
    td {
      white-space: nowrap;
      padding: 22px 0;
      user-select: none;
      cursor: default;

      &:nth-child(3) {
        padding-left: 22px;

        div {
          justify-content: flex-start;
        }
      }
    }

    td:first-child {
      max-width: 25vw;
    }

    a {
      color: var(--primary-color);
    }
  }
}

.loadingOrEmpty {
  margin-top: 4px;
  padding: 20px;
  text-align: center;
  background: #fff;
}

.scriptCellsPanel {
  padding: 0 40px;
  margin-top: 4px;
  background: #fff;

  @media (width <= variables.$extraLargeBreakPoint) {
    padding: 0 10px;
  }
}

.scriptDecimalCenter {
  > div {
    align-items: baseline;
  }
}

.cellInfoMore {
  > div {
    float: right;
  }

  :global(.transactionCellInfoContent) {
    width: fit-content;
    padding: 0 20px;
    line-height: 0;
  }
}

.scriptPagination {
  margin-top: 4px;
  width: 100%;
}

.codeHashMessagePanel {
  display: flex;
  align-items: center;
  min-width: 0;

  .codeHash {
    flex: 1;
    min-width: 0;
    width: 350px;
    margin-right: 16px;
  }

  .action {
    color: #999;
    cursor: pointer;
    flex-shrink: 0;

    &:hover {
      color: var(--primary-color);
    }
  }

  @media (width <= 1300px) {
    .codeHash {
      width: 280px;
    }
  }

  @media (width <= variables.$mobileBreakPoint) {
    .codeHash {
      width: 270px;
    }
  }
}

.hashType {
  text-transform: capitalize;
}

.typeId {
  overflow: hidden;
  text-overflow: ellipsis;
}

.noRecord {
  text-align: center;
}

.headerCard {
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 12px;

  .headerTitle {
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }

  .headerSubTitle {
    font-size: 16px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .openSourceAction {
    padding: 6px 8px;
    margin: 0 6px;
    display: flex;
    align-items: center;
    border-radius: 24px;
    gap: 4px;
    border: 1px solid #8a8a8a;
    transition: all 0.3s;

    &:hover {
      border-color: var(--primary-color);
    }
  }

  .rfcAction {
    display: inline-flex;
    align-items: center;
    line-height: 0;
  }

  .websiteAction {
    display: inline-flex;
    align-items: center;
    line-height: 0;
  }

  .headerLink {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 8px;
  }
}

.headerDescription {
  padding: 12px 0;
  font-size: 16px;
  color: #333;
}

.notice {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  font-size: 14px;
  color: #ffb21e;
  border: 1px solid #ffdba6;
  background-color: #fffcf2;
}

.scriptTabTitle {
  font-size: 20px;
}
