@import '../../styles/variables.module';

.scriptContentPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 40px;

  @media (width <= $mobileBreakPoint) {
    margin: 0;
    padding: 20px;
  }
}

.scriptTabs:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  .cardHeader {
    padding: 0;
  }

  .tablist {
    height: 56px;
    margin-bottom: 0;
  }
}

.scriptCellsPanel,
.scriptTransactionsPanel {
  table {
    width: 100%;
    line-height: 1.2;

    tr {
      border-bottom: 1px solid #e5e5e5;
    }

    tbody tr:last-child {
      border-bottom: none;
    }

    th {
      font-size: 1rem;
      font-weight: 500;
      color: #333;
    }

    th,
    td {
      white-space: nowrap;
      padding: 22px 0;
      user-select: none;
      cursor: default;

      &:nth-child(3) {
        padding-left: 22px;

        div {
          justify-content: flex-start;
        }
      }
    }

    td:first-child {
      max-width: 25vw;
    }

    a {
      color: var(--primary-color);
    }
  }
}

.loadingOrEmpty {
  margin-top: 4px;
  padding: 20px;
  text-align: center;
  background: #fff;
}

.scriptCellsPanel {
  padding: 0 40px;
  margin-top: 4px;
  background: #fff;

  @media (width <= $extraLargeBreakPoint) {
    padding: 0 10px;
  }
}

.scriptDecimalCenter {
  > div {
    align-items: baseline;
  }
}

.cellInfoMore {
  > div {
    float: right;
  }

  :global(.transactionCellInfoContent) {
    width: fit-content;
    padding: 0 20px;
    line-height: 0;
  }
}

.scriptPagination {
  margin-top: 4px;
  width: 100%;
}

.codeHashMessagePanel {
  display: flex;
  align-items: center;
  min-width: 0;

  .codeHash {
    flex: 1;
    min-width: 0;
    width: 350px;
    margin-right: 16px;
  }

  .action {
    color: #999;
    cursor: pointer;
    flex-shrink: 0;

    &:hover {
      color: var(--primary-color);
    }
  }

  @media (width <= 1300px) {
    .codeHash {
      width: 280px;
    }
  }

  @media (width <= $mobileBreakPoint) {
    .codeHash {
      width: 270px;
    }
  }
}

.hashType {
  text-transform: capitalize;
}

.typeId {
  overflow: hidden;
  text-overflow: ellipsis;
}

.noRecord {
  text-align: center;
}
