.scriptsTitleOverviewPanel {
  display: flex;
  flex-direction: column;
}

.scriptContentPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 40px;

  @media (width <= 750px) {
    margin: 0;
    padding: 20px;
  }
}

.scriptTabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border-radius: 6px 6px 0 0;

  :global {
    /* stylelint-disable-next-line selector-class-pattern */
    .ant-tabs-nav {
      &::before {
        border-bottom-width: 4px;
      }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .ant-tabs-nav-list {
      margin-left: 40px;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .ant-tabs-tab-btn {
      color: #333;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 0;

      &[aria-selected='true'] {
        font-weight: 500;
      }
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .ant-tabs-tab-active {
      /* stylelint-disable-next-line selector-class-pattern */
      .ant-tabs-tab-btn {
        color: #333;
      }
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  & > :global(.ant-tabs-nav .ant-tabs-ink-bar) {
    background: linear-gradient(
      to right,
      transparent 30%,
      var(--primary-color) 30%,
      var(--primary-color) 70%,
      transparent 70%
    );
    height: 3px;
    bottom: 3px;
  }
}

.scriptCellsPanel,
.scriptTransactionsPanel {
  table {
    width: 100%;
    line-height: 1.2;

    tr {
      border-bottom: 1px solid #e5e5e5;
    }

    tbody tr:last-child {
      border-bottom: none;
    }

    th {
      font-size: 1rem;
      font-weight: 500;
      color: #333;
    }

    th,
    td {
      white-space: nowrap;
      padding: 22px 0;
      user-select: none;
      cursor: default;

      &:nth-child(3) {
        padding-left: 22px;

        div {
          justify-content: flex-start;
        }
      }
    }

    td:first-child {
      max-width: 25vw;
    }

    a {
      color: var(--primary-color);
    }
  }
}

.scriptCellsPanel {
  padding: 0 40px;

  @media screen and (width <= 1200px) {
    padding: 0 10px;
  }
}

.scriptDecimalCenter {
  > div {
    align-items: baseline;
  }
}

.cellInfoMore {
  > div {
    float: right;
  }

  :global(.transactionCellInfoContent) {
    width: fit-content;
    padding: 0 20px;
    line-height: 0;
  }
}

.scriptPagination {
  margin-top: 4px;
  width: 100%;
}

.codeHashMessagePanel {
  display: flex;
  align-items: center;
  min-width: 0;

  .codeHash {
    width: 350px;
    margin-right: 16px;
  }

  @media screen and (width <= 1300px) {
    .codeHash {
      width: 280px;
    }
  }

  @media screen and (width <= 750px) {
    .codeHash {
      width: 600px;
    }
  }
}

.hashType {
  text-transform: capitalize;
}

.typeId {
  overflow: hidden;
  text-overflow: ellipsis;
}
