@import '../../../../styles/variables.module';

.container {
  width: 100%;
  margin-top: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgb(16 16 16 / 5%);
  overflow: hidden;
  font-size: 1rem;
}

.item {
  background: #fff;

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  padding: 1.25rem 2.5rem;

  .address {
    max-width: 100%;
    margin-bottom: 0.75rem;
  }

  table {
    width: 100%;

    td {
      padding: 0.25rem 0;
    }

    @media screen and (width < $mobileBreakPoint) {
      tr {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .transfer {
    display: flex;

    .label {
      flex: 1;
    }

    .value {
      display: flex;

      @media screen and (width < $mobileBreakPoint) {
        font-size: 0.875rem;

        * {
          font-size: inherit;
        }
      }
    }

    .asset {
      margin-right: 0.25rem;
    }

    .asset,
    .parenthesis {
      &[data-diff-status='positive'] {
        color: var(--primary-color);
      }

      &[data-diff-status='negative'] {
        color: var(--accent-color);
      }
    }
  }
}
