@import '../../../../styles/variables.module';

.container {
  width: 100%;
  margin-top: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgb(16 16 16 / 5%);
  overflow: hidden;
  font-size: 1rem;
}

.item {
  background: #fff;

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  padding: 1.25rem 2.5rem;

  .address {
    max-width: 100%;
    margin-bottom: 0.75rem;
  }

  table {
    width: 100%;

    td {
      padding: 0.25rem 0;
    }

    @media screen and (width < $mobileBreakPoint) {
      tr {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .transfer {
    display: flex;

    .label {
      flex: 1;
      display: flex;
      align-items: 4px;
      gap: 6px;

      span {
        border-radius: 4px;
        padding: 5px 8px;
        font-size: 0.75rem;
        line-height: 1;
        color: #ffa800;
        border: 1px solid #ffdba6;
        background-color: #fffcf2;

        &[data-category='normal'] {
          display: none;
        }

        &[data-category='m_nft_class'],
        &[data-category='cota_registry'],
        &[data-category='spore_cluster'],
        &[data-category='nrc_721_factory'],
        &[data-category='omiga_inscription_info'] {
          color: #346dff;
          border: 1px solid #b0cbfc;
          background-color: #d7e5fd;
        }
      }
    }

    .value {
      display: flex;

      @media screen and (width < $mobileBreakPoint) {
        font-size: 0.875rem;

        * {
          font-size: inherit;
        }
      }
    }

    .asset {
      margin-right: 0.25rem;
    }

    .asset,
    .parenthesis {
      color: #999;

      &[data-diff-status='positive'] {
        color: var(--primary-color);
      }

      &[data-diff-status='negative'] {
        color: var(--accent-color);
      }
    }
  }

  .multipleAsset {
    display: flex;
    justify-content: space-between;
    background: rgb(250 250 250);
    padding: 0 8px;

    .asset {
      color: #999;

      &[data-diff-status='positive'] {
        color: var(--primary-color);
      }

      &[data-diff-status='negative'] {
        color: var(--accent-color);
      }
    }
  }
}
