.transactionLiteBox {
  .transactionLiteBoxHeader {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    overflow-x: hidden;

    .transactionLiteBoxHeaderAddr {
      width: 260px;
      max-width: 400px;
      display: inline-block;

      div {
        color: var(--primary-color);
      }
    }

    @media (width <= 750px) {
      .transactionLiteBoxHeaderAddr {
        width: 200px;
        display: inline-block;
      }
    }

    .tag {
      background: #e8fff1;
      color: var(--primary-color);
      font-size: 12px;
      padding: 2px 6px;
      box-shadow: 0 4px 4px rgb(16 16 16 / 5%);
      border: 1px solid #caffdf;
      border-radius: 4px;
      display: inline-block;
      margin-left: 8px;
    }
  }

  .transactionLiteBoxContent {
    width: 100%;
    height: auto;

    div {
      display: inline-block;
    }

    .nftId,
    .add {
      color: var(--primary-color);
    }

    .subtraction {
      color: var(--accent-color);
    }

    .addressDetailLite {
      text-align: right;
      font-size: 14px;
    }

    .capacityChange {
      margin-left: 12px;
      height: 24px;

      @media (width <= 750px) {
        margin-left: 0;
      }
    }

    & > div {
      width: 100%;
      height: 22px;
      margin-bottom: 12px;
      display: flex;

      div {
        flex: 1;

        &:first-child {
          text-align: left;
          color: #333;
        }

        .tag {
          box-sizing: border-box;
          background: #d7e5fd;
          padding: 2px 6px;
          border: 1px solid #b0cbfc;
          border-radius: 4px;
          font-size: 12px;
          color: #333;
          display: inline-block;
          margin-right: 12px;
        }
      }
    }
  }

  .transactionLiteBoxContentMobile {
    width: 100%;
    height: auto;

    div {
      display: inline-block;
      color: var(--primary-color);
    }

    .transactionLiteMobileName {
      p {
        font-size: 16px;
        color: var(--primary-text-color);
      }
    }

    .transactionLiteMobileContent {
      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    .tag {
      box-sizing: border-box;
      background: #d7e5fd;
      padding: 2px 6px;
      border: 1px solid #b0cbfc;
      border-radius: 4px;
      font-size: 12px;
      color: #333;
      margin-right: 12px;
      float: left;
    }

    & > div {
      width: 100%;
      height: auto;
    }
  }
}
