.transactionLiteBox {
  .transactionLiteBoxHeader {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    overflow-x: hidden;

    .transactionLiteBoxHeaderAddr {
      width: 260px;
      max-width: 400px;
      display: inline-block;

      div {
        color: #00CC9B;
      }
    }

    @media (max-width: 750px) {
      .transactionLiteBoxHeaderAddr {
        width: 200px;
        display: inline-block;
      }
    }

    .tag {
      background: #E8FFF1;
      color: #00cc9b;
      font-size: 12px;
      padding: 2px 6px;
      box-shadow: 0px 4px 4px rgba(16, 16, 16, 0.05);
      border: 1px solid #CAFFDF;
      border-radius: 4px;
      display: inline-block;
      margin-left: 8px;
    }
  }

  .transactionLiteBoxContent {
    width: 100%;
    height: auto;

    div {
      display: inline-block;
    }

    .nftId {
      color: #00CC9B;
    }

    &>div {
      width: 100%;
      height: 22px;
      margin-bottom: 12px;
      display: flex;


      div {
        flex: 1;

        &:first-child {
          text-align: left;
          font-size: 16px;
          color: #333;
        }

        &:last-child {
          text-align: right;
          font-size: 14px;
          color: #00CC9B;
        }

        .tag {
          box-sizing: border-box;
          background: #D7E5FD;
          padding: 2px 6px;
          border: 1px solid #B0CBFC;
          border-radius: 4px;
          font-size: 12px;
          color: #333;
          display: inline-block;
          margin-right: 12px;
        }
      }
    }

    @media (max-width: 750px) {
      &>div {
        display: inline-block;

        div {
          &:first-child {
            flex: .2;
            font-size: 14px;
            float: left;
          }

          &:last-child {
            text-align: right;
            font-size: 14px;
            float: right;
          }

          .tag {
            padding: 2px 2px;
            margin-right: 2px;
          }
        }
      }
    }
  }

  .transactionLiteBoxContentMobile {
    width: 100%;
    height: auto;

    div {
      display: inline-block;
      color: #00CC9B;
    }

    .transactionLiteMobileName {
      p {
        font-size: 16px;
        color: #333;
      }

    }

    .transactionLiteMobileContent {
      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    .tag {
      box-sizing: border-box;
      background: #D7E5FD;
      padding: 2px 6px;
      border: 1px solid #B0CBFC;
      border-radius: 4px;
      font-size: 12px;
      color: #333;
      margin-right: 12px;
      float: left;
    }

    &>div {
      width: 100%;
      height: auto;
    }
  }
}
