.HighLightPanel {
  color: var(--primary-color);
  font-size: 14px;

  @media (width <= 750px) {
    font-size: 13px;
  }

  a {
    color: var(--primary-color);
    margin-top: 3px;

    @media (width <= 750px) {
      margin-top: 1px;
    }
  }

  a:hover {
    color: var(--primary-color);
  }
}
