@font-face {
    font-family: 'Lato';
    src: local('Lato'), url('./Lato-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), url('./Roboto-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto'), url('./Roboto-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: local('JetBrains Mono'), url('./JetBrainsMono-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: local('JetBrains Mono'), url('./JetBrainsMono-Medium.ttf') format('truetype')
}
