.openInNew {
  cursor: pointer;
  margin-left: 4px;

  svg {
    pointer-events: none;

    path {
      fill: #999;
    }
  }

  @media screen and (width <= 750px) {
    margin-left: 2px;
  }
}

.addressWidthModify {
  max-width: 80%;

  @media (width <= 1200px) {
    max-width: 40%;
  }

  @media (width <= 750px) {
    max-width: 100%;
  }
}

.searchAndfilter {
  align-items: center;

  > div:last-child {
    margin-left: 8px;
  }

  @media screen and (width <= 750px) {
    width: 100%;
  }
}

.typeFilter {
  // hide the filter icon until the api is ready
  display: none;
  cursor: pointer;
  padding-left: 0.8rem;

  svg {
    height: 1rem;
    width: 1rem;
  }

  &[data-is-active='true'] {
    svg path {
      fill: var(--primary-color);
    }
  }
}

.filterItems {
  display: flex;
  flex-direction: column;
  width: 200px;

  a {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    padding: 10px 0 10px 10px;
    margin-right: 8px;
    border-radius: 8px;

    &:hover {
      background: var(--primary-hover-bg-color);
      color: var(--primary-color);
      cursor: pointer;
    }

    &[data-is-active='false'] {
      color: #000;

      svg {
        display: none;
      }
    }
  }

  svg path {
    fill: var(--primary-color);
  }
}

.antPopover {
  :global {
    .ant-popover-inner {
      border-radius: 8px;
      box-shadow: 0 2px 10px 0 #eee;
    }
  }
}
