.simpleUDTOverviewCard:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  padding-bottom: 20px;

  @media (width <= 750px) {
    padding-bottom: 16px;
  }
}

.cardTitle {
  display: flex;
  gap: 8px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  @media (width <= 750px) {
    flex-direction: column;
    gap: 4px;
    padding-top: 16px;
    color: #333;
    font-size: 20px;
    font-weight: 600;

    .icon {
      width: 32px;
      height: 32px;
    }
  }
}

.cardHeader {
  @media (width <= 750px) {
    height: min-content;
    padding: 8px 0 12px;
  }
}

.openInNew {
  cursor: pointer;
  margin-left: 4px;

  svg {
    pointer-events: none;

    path {
      fill: #999;
    }
  }

  @media screen and (width <= 750px) {
    margin-left: 2px;
  }
}

.addressWidthModify {
  max-width: 80%;

  @media (width <= 1200px) {
    max-width: 40%;
  }

  @media (width <= 750px) {
    max-width: 100%;
  }
}

.searchAndfilter {
  display: flex;
  align-items: center;

  > div:last-child {
    margin-left: 8px;
  }

  @media screen and (width <= 750px) {
    width: 100%;
  }
}

.typeFilter {
  // hide the filter icon until the api is ready
  display: none;
  cursor: pointer;
  padding-left: 0.8rem;

  svg {
    color: #999;
  }

  &[data-is-active='true'] {
    svg {
      color: var(--primary-color);
    }
  }
}

.filterItems {
  display: flex;
  flex-direction: column;
  width: 200px;

  a {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    padding: 10px 0 10px 10px;
    margin-right: 8px;
    border-radius: 8px;

    &:hover {
      background: var(--primary-hover-bg-color);
      color: var(--primary-color);
      cursor: pointer;
    }

    &[data-is-active='false'] {
      color: #000;

      svg {
        display: none;
      }
    }
  }

  svg path {
    fill: var(--primary-color);
  }
}

.antPopover {
  :global {
    /* stylelint-disable-next-line selector-class-pattern */
    .ant-popover-inner {
      border-radius: 8px;
      box-shadow: 0 2px 10px 0 #eee;
    }
  }
}
