.container {
  margin: 40px auto;

  @keyframes rotate-loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loading-text-opacity {
    0% {
      opacity: 1;
    }

    40% {
      opacity: 0;
    }

    60% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.loading {
  border: 2px solid transparent;
  border-color: transparent #fff;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

.container .loading {
  transition: all 0.5s ease-in-out;
  border-color: transparent var(--primary-color) transparent var(--primary-color);
  height: 100px;
  position: relative;
  width: 100px;
  border-radius: 100%;
}

.text {
  animation: loading-text-opacity 2s linear 0s infinite normal;
  color: var(--primary-color);
  font-family: 'Helvetica Neue, ' Helvetica ', ' 'arial', sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-top: 45px;
  opacity: 1;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100px;
}
