@import '../../../styles/variables.module';

.transactionHeader:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  padding: 15px 40px;
  margin-top: 20px;

  @media (width <= $mobileBreakPoint) {
    padding-bottom: 16px;
  }
}

.digestContent {
  margin-top: 4px;
  padding: 20px 40px;

  @media screen and (max-width: $extraLargeBreakPoint) {
    padding: 0;
  }
}

.btcTxContent {
  margin-top: 8px;
  border-radius: 6px;
}

.headerContent {
  display: flex;
  gap: 8px;
  align-items: center;

  .leap {
    border: 1px solid #b0fcd3;
    border-radius: 4px;
    background-color: #e8fff1;
    color: #23bc98;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 14px;
  }

  .leap:hover {
    cursor: pointer;
  }

  p {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }
}

.professionalLiteBox {
  margin-left: 10px;

  .layoutButtons {
    > label {
      height: 40px;
      width: 120px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 38px;
      color: #333;
      border: 1px solid #e5e5e5;
      box-shadow: none !important;

      &::before {
        content: none !important;
      }

      &:hover {
        color: #333;
        background: #fff;
      }

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }

      /* stylelint-disable-next-line selector-class-pattern */
      &:global(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)) {
        background: #333;
        border-color: #333 !important;

        &:hover {
          background: #333;
        }
      }
    }

    @media (width <= $mobileBreakPoint) {
      width: 100%;

      > label {
        height: 40px;
        width: 50%;
      }
    }
  }

  @media (width <= $mobileBreakPoint) {
    border-top: 1px solid #e5e5e5;
    padding-top: 16px;
    margin: 0;
  }
}

.viewBtcTxContainer {
  margin-top: 1rem;
  font-size: 1rem;

  &[open] {
    .expandArrow {
      transform: translateY(5px) rotate(225deg);
    }
  }

  @media (width <= 1600px) {
    font-size: 0.8rem;
  }

  @media (width <= $extraLargeBreakPoint) {
    font-size: 1rem;
  }
}
