.submenu {
  padding: 4px 12px;
  border-radius: 4px;
  background: #fff;
  color: #333;
  box-shadow: 0 4px 4px 0 rgb(16 16 16 / 5%);

  .link {
    display: block;
    padding: 12px 0;
    border-top: 1px solid #e5e5e5;
    line-height: 1;

    &:first-child {
      border-top: 0;
    }
  }
}

.submenuTrigger {
  gap: 4px;

  .icon {
    transform: rotate(180deg);
    transition: transform 0.1s;
  }

  .moreIcon {
    width: 22px;
    height: 22px;
    color: white;
    transition: all 0.2s;
  }

  &:hover {
    .moreIcon {
      color: var(--primary-color);
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &:global(.ant-dropdown-open) {
    .icon {
      transform: rotate(0deg);
    }
  }
}

.mobileSubmenuTrigger {
  width: 100%;
  justify-content: space-between;

  .icon {
    transform: rotate(180deg);
    transition: transform 0.1s;
  }
}

.headerMenusItem {
  color: white;
  display: flex;
  align-items: center;
  margin-right: 56px;
  font-size: 14px;
  font-weight: regular;

  @media (width <= 1505px) {
    margin-right: calc(56px - (1505px - 100vw) / 8);
  }

  @media (width <= 1200px) {
    margin-right: 20px;
  }

  @media (width >= 1024px) and (width <= 1044px) {
    margin-right: calc(56px - ((1440px - 100vw) * calc((56 - 8) / (1440 - 1024))));
  }

  &:hover {
    font-weight: medium;
    color: var(--primary-color);
  }
}

.moreMenus {
  margin-right: 0;
}
