@import url('../assets/fonts/fonts.css');

body {
  --primary-color: #00cc9b;
  --primary-color-hover: #02ac84;
  --primary-dimmed-color: #99e6ca;
  --secondary-color: #d7fdf2;
  --accent-color: #fa504f;
  --primary-text-color: #333;
  --primary-hover-bg-color: #e8fff1;
  --primary-chiffon-color: #e6fcf7;
  --navbar-height: 64px;
  --table-separator-color: #f5f5f5;
  --decimal-color: #999;
  --input-bg-color: #f5f5f5;
  --btc-primary-color: #fb992c;
  --btc-primary-dimmed-color: #ffdba6;
  --btc-secondary-color: #fff5e2;
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body[data-chain-type='testnet'] {
  --primary-color: #9a2cec;
  --primary-color-hover: #6602b8;
  --primary-dimmed-color: #e8b0fc;
  --secondary-color: #f1d7fd;
  --primary-hover-bg-color: #eeeafc;
  --primary-chiffon-color: #eeeafc;
}

* {
  font-family: Roboto, Lato, sans-serif, Montserrat, 'PingFang SC', -apple-system;
}

.monospace {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*[role]:focus {
  outline: none;
}

.container {
  max-width: 100%;
  width: auto;
  margin: 0 120px;
}

@media (width <= 1440px) {
  .container {
    width: auto;
    margin: 0 100px;
  }
}

@media (width <= 1200px) {
  .container {
    width: auto;
    margin: 0 45px;
  }
}

@media (width <= 750px) {
  .container {
    width: auto;
    margin: 0 18px;
  }
}

a {
  text-decoration: none;
  font-size: inherit;
  font-weight: 500;
  color: inherit;
}

a:hover {
  color: var(--primary-color-hover);
}

/* stylelint-disable selector-class-pattern */
@media (width <= 750px) {
  .rc-pagination-options-quick-jumper {
    display: none;
  }
}

.text-primary {
  color: var(--primary-color);
}
