// These values are determined based on legacy code and have no other specific reasons.
$xxlBreakPoint: 1440px;
$extraLargeBreakPoint: 1200px;
$largeBreakPoint: 1000px;
$mobileBreakPoint: 750px;
$devicePixelRatio: --device-pixel-ratio;

:export {
  xxlBreakPoint: $xxlBreakPoint;
  extraLargeBreakPoint: $extraLargeBreakPoint;
  largeBreakPoint: $largeBreakPoint;
  mobileBreakPoint: $mobileBreakPoint;
}
