.exportLink {
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  cursor: pointer;
  margin-right: 20px;

  > div:first-child {
    margin-right: 8px;
    white-space: nowrap;
  }
}
