.left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  max-width: 100%;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-self: self-end;
  justify-content: flex-start;
  max-width: 100%;
  gap: 8px;
}
