.HomeHeaderTopPanel {
  height: 360px;
  margin: 0 -120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 750px) {
    margin: 0 -18px;
  }

  .title {
    color: #ffffff;
    font-size: 36px;
    padding-top: 49px;

    @media (max-width: 750px) {
      font-size: 24px;
      padding-top: 45px;
    }
  }

  .search {
    height: 38px;
    width: 600px;
    padding-top: 25px;

    @media (max-width: 750px) {
      width: calc(100% - 36px);
      padding-top: 21px;
    }
  }
}

.HomeStatisticBottomPanel {
  display: flex;
  padding: 20px 5px;
  margin: 0px 0px 20px 0px;
  box-shadow: 0 2px 6px 0 rgb(77, 77, 77, 0.2);
  border-radius: 0 0 6px 6px;
  background: #ffffff;

  @media (max-width: 1200px) {
    flex-direction: column;
    padding: 10px 5px 0 5px;
    box-shadow: 0 2px 6px 0 rgb(77, 77, 77, 0.2);
    border-radius: 0 0 6px 6px;
  }

  .blockchain__item__row {
    display: flex;
    width: 100%;
    padding: 12px 0;
  }

  .blockchain__item__row_separate {
    height: 1px;
    background: #eaeaea;
    width: auto;
    margin: 0 30px;

    @media (max-width: 750px) {
      margin: 0 20px;
    }
  }
}

:global([data-net="mainnet"]) {
  .HomeStatisticTopPanel {
    .home__statistic__left__panel {
      border: 2px solid #3fb39e;

      .home__statistic__left__data {
        background: linear-gradient(134deg, #3fb39e, #1ec196 51%, #3cc6b7 100%);
      }
      .home__statistic__left__chart {
        background: linear-gradient(134deg, #0bad8e 2%, #20c5a5 48%, #0baab1 99%);
      }
    }
  }
}

.HomeStatisticTopPanel {
  height: 207px;
  width: 100%;
  display: flex;
  margin-top: -148px;

  @media (max-width: 1200px) {
    height: 213px;
  }

  @media (max-width: 750px) {
    flex-direction: column;
    height: 150px;
    margin-top: -205px;
  }

  .home__statistic__left__panel {
    flex: 1;
    display: flex;
    border-radius: 6px 0 0 0;
    border: 2px solid #6b88cf;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    @media (max-width: 750px) {
      border-radius: 6px 6px 0 0;
      border: 0px solid;
    }

    .home__statistic__left__data {
      flex: 1;
      padding: 32px;
      margin: -2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 6px 0 0 0;
      background: linear-gradient(314deg, #6093e4 , #6b88cf 49%, #7074de 80%);

      @media (min-width: 1440px) {
        flex: 0;
        width: 246px;
        min-width: 246px;
      }

      @media (max-width: 1200px) {
        padding: 15px 30px 10px 30px;
        flex-direction: row;
      }

      @media (max-width: 750px) {
        border-radius: 6px 6px 0 0;
        padding: 15px 23px 10px 20px;
        margin: 0px;
      }
    }
    .home__statistic__left__chart {
      flex: 2;
      margin: -2px;
      padding: 5px 5px 0px 10px;
      border-radius: 0;
      background: linear-gradient(304deg, #6e85e0 2%, #577cdb 48%, #486ecc 99%);

      @media (max-width: 1200px) {
        padding: 6px 20px;
      }

      @media (max-width: 750px) {
        flex: 0;
        display: none;
        margin: 0px;
      }
    }
  }

  .home__statistic__right__panel {
    flex: 1;
    display: flex;
    border-radius: 0 6px 0 0;
    border: 2px solid #334350;

    @media (max-width: 1200px) {
      flex-direction: column;
      border-radius: 0 6px 0 0;
      border: 2px solid #444c5a;
    }

    @media (max-width: 750px) {
      flex-direction: column;
      border-radius: 0;
    }

    .home__statistic__right__data {
      flex: 1;
      padding: 32px;
      margin: -2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: linear-gradient(134deg, #444b57, #39424a 48%, #444c5a 96%);

      @media (min-width: 1440px) {
        flex: 0;
        width: 246px;
        min-width: 246px;
      }

      @media (max-width: 1200px) {
        padding: 15px 30px 10px 30px;
        margin: -2px;
        border-radius: 0px 6px 0px 0px;
        flex-direction: row;
      }

      @media (max-width: 750px) {
        padding: 15px 20px 10px 20px;
      }
    }
    .home__statistic__right__chart {
      flex: 2;
      margin: -2px;
      padding: 5px 5px 0 10px;
      border-radius: 0px 6px 0px 0px;
      background: linear-gradient(118deg, #31383e, #35414d 48%, #334350);

      @media (max-width: 1200px) {
        border-radius: 0px;
        padding: 6px 20px;
      }

      @media (max-width: 750px) {
        flex: 0;
        display: none;
        margin: 0px;
      }
    }
  }
}

.HomeStatisticTopPanel {
  &.AfterHardFork {
    height: auto;
    .home__statistic__left__panel {
      border: 2px solid #232323;
      display: block;
      padding: 12px;
      background-color: #232323;
      width: 50%;
      .home__statistic__left__data {
        background: #232323;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding: 16px;

        & > div {
          flex: 1;
        }
      }
      .home__statistic__left__chart {
        background: #232323;
      }
    }
    .home__statistic__right__panel {
      border: 2px solid #484E4E;
      display: block;
      padding: 12px;
      background-color: #484E4E;
      width: 50%;
      .home__statistic__right__data {
        background: #484E4E;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding: 16px;

        & > div {
          flex: 1;
        }
      }
      .home__statistic__right__chart {
        background: #484E4E;
      }
    }
  }
}