@import '../../styles/variables.module';

.homeHeaderTopPanel {
  margin: 20px 0;
  display: flex;
  align-items: center;

  @media (width <= $extraLargeBreakPoint) {
    display: block;
  }

  .title {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 20px;

    & > svg {
      margin-right: 8px;
    }

    @media (width <= $extraLargeBreakPoint) {
      margin-bottom: 20px;
    }

    @media (width <= 375px) {
      font-size: 16px;
      margin-bottom: 14px;
    }
  }

  .search {
    flex: 1;
    margin-left: 16px;

    @media (width <= $extraLargeBreakPoint) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.homeStatisticBottomPanel {
  display: flex;
  padding: 20px 5px;
  margin: 0 0 20px;
  box-shadow: 0 2px 6px 0 rgb(77 77 77 / 20%);
  border-radius: 0 0 6px 6px;
  background: #fff;

  @media (width <= $extraLargeBreakPoint) {
    flex-direction: column;
    padding: 10px 5px 0;
    box-shadow: 0 2px 6px 0 rgb(77 77 77 / 20%);
    border-radius: 0 0 6px 6px;
  }

  .blockchainItemRow {
    display: flex;
    width: 100%;
    padding: 12px 0;
  }

  .blockchainItemRowSeparate {
    height: 1px;
    background: #eaeaea;
    width: auto;
    margin: 0 30px;

    @media (width <= $mobileBreakPoint) {
      margin: 0 20px;
    }
  }
}

:global([data-net='mainnet']) {
  .homeStatisticTopPanel {
    .homeStatisticLeftPanel {
      .homeStatisticLeftData {
        background: linear-gradient(134deg, #3fb39e, #1ec196 51%, #3cc6b7 100%);
      }

      .homeStatisticLeftChart {
        background: linear-gradient(134deg, #0bad8e 2%, #20c5a5 48%, #0baab1 99%);
      }
    }
  }
}

.homeStatisticTopPanel {
  height: 207px;
  width: 100%;
  display: flex;

  @media (width <= $extraLargeBreakPoint) {
    height: 213px;
  }

  @media (width <= $mobileBreakPoint) {
    flex-direction: column;
    height: 150px;
  }

  .homeStatisticLeftPanel {
    flex: 1;
    min-width: 0;
    display: flex;
    border-radius: 6px 0 0;
    border: 2px solid #6b88cf;

    @media (width <= $extraLargeBreakPoint) {
      flex-direction: column;
    }

    @media (width <= $mobileBreakPoint) {
      border-radius: 6px 6px 0 0;
      border: 0 solid;
    }

    .homeStatisticLeftData {
      flex: 1;
      padding: 32px;
      margin: -2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 6px 0 0;
      background: linear-gradient(314deg, #6093e4, #6b88cf 49%, #7074de 80%);

      @media (width >= $xxlBreakPoint) {
        flex: 0;
        width: 246px;
        min-width: 246px;
      }

      @media (width <= $extraLargeBreakPoint) {
        padding: 15px 30px 10px;
        flex-direction: row;
      }

      @media (width <= $mobileBreakPoint) {
        border-radius: 6px 6px 0 0;
        padding: 15px 23px 10px 20px;
        margin: 0;
      }
    }

    .homeStatisticLeftChart {
      flex: 2;
      margin: -2px;
      padding: 5px 5px 0 10px;
      border-radius: 0;
      background: linear-gradient(304deg, #6e85e0 2%, #577cdb 48%, #486ecc 99%);

      @media (width <= $extraLargeBreakPoint) {
        padding: 6px 20px;
      }

      @media (width <= $mobileBreakPoint) {
        flex: 0;
        display: none;
        margin: 0;
      }
    }
  }

  .homeStatisticRightPanel {
    flex: 1;
    min-width: 0;
    display: flex;
    border-radius: 0 6px 0 0;
    border: 2px solid #334350;

    @media (width <= $extraLargeBreakPoint) {
      flex-direction: column;
      border-radius: 0 6px 0 0;
      border: 2px solid #444c5a;
    }

    @media (width <= $mobileBreakPoint) {
      flex-direction: column;
      border-radius: 0;
    }

    .homeStatisticRightData {
      flex: 1;
      padding: 32px;
      margin: -2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: linear-gradient(134deg, #444b57, #39424a 48%, #444c5a 96%);

      @media (width >= $xxlBreakPoint) {
        flex: 0;
        width: 246px;
        min-width: 246px;
      }

      @media (width <= $extraLargeBreakPoint) {
        padding: 15px 30px 10px;
        margin: -2px;
        border-radius: 0 6px 0 0;
        flex-direction: row;
      }

      @media (width <= $mobileBreakPoint) {
        padding: 15px 20px 10px;
      }
    }

    .homeStatisticRightChart {
      flex: 2;
      margin: -2px;
      padding: 5px 5px 0 10px;
      border-radius: 0 6px 0 0;
      background: linear-gradient(118deg, #31383e, #35414d 48%, #334350);

      @media (width <= $extraLargeBreakPoint) {
        border-radius: 0;
        padding: 6px 20px;
      }

      @media (width <= $mobileBreakPoint) {
        flex: 0;
        display: none;
        margin: 0;
      }
    }
  }

  &.afterHardFork {
    .homeStatisticLeftPanel {
      border-color: #232323;
      background-color: #232323;

      .homeStatisticLeftData {
        background: #232323;
      }

      .homeStatisticLeftChart {
        background: #232323;
      }
    }

    .homeStatisticRightPanel {
      border-color: #484e4e;
      background-color: #484e4e;

      .homeStatisticRightData {
        background: #484e4e;
      }

      .homeStatisticRightChart {
        background: #484e4e;
      }
    }
  }
}

.tableMorePanel {
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
  border: 0 solid white;
  border-radius: 0 0 6px 6px;
  cursor: pointer;

  > span {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
  }

  &:hover {
    background: var(--primary-color);

    > span {
      color: white;
    }
  }
}

.homeHeaderItemPanel {
  display: flex;
  align-items: center;
  background-color: white;
  flex: 1;

  :global(.blockchainItemContent) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 30px;

    @media (max-width: $mobileBreakPoint) {
      margin: 0 20px;
    }

    :global(.blockchainItemName) {
      color: #555;
      font-size: 14px;

      @media (max-width: $mobileBreakPoint) {
        font-size: 12px;
      }
    }

    :global(.blockchainItemValue) {
      color: #000;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      :global(.blockchainItemLeftValue) {
        font-size: 20px;

        @media (max-width: $mobileBreakPoint) {
          font-size: 16px;
        }
      }

      :global(.blockchainItemRightValue) {
        font-size: 14px;

        @media (max-width: $mobileBreakPoint) {
          font-size: 12px;
        }
      }
    }
  }

  :global(.blockchainItemBetweenSeparate) {
    height: 90%;
    background: #eaeaea;
    width: 1px;

    @media (max-width: $mobileBreakPoint) {
      display: none;
    }
  }
}

.homeStatisticItemPanel {
  @media (max-width: $mobileBreakPoint) {
    flex: 1;
    margin-left: 40px;

    &.isFirst {
      margin-left: 0;
    }
  }

  :global(.homeStatisticItemName) {
    font-size: 14px;
    color: #fff;

    @media (max-width: $extraLargeBreakPoint) {
      font-size: 12px;
    }
  }

  :global(.homeStatisticItemValue) {
    font-size: 20px;
    color: #fff;
    font-weight: bold;

    @media (max-width: $extraLargeBreakPoint) {
      font-size: 18px;
    }
  }
}

.homeTablePanel {
  display: flex;
  flex-direction: row;

  @media (max-width: $mobileBreakPoint) {
    flex-direction: column;
  }
}

.blockPanel {
  width: 100%;
  margin-bottom: 40px;
  margin-right: 20px;
  background: white;
  flex: 1;
  min-width: 0;
  border: 0 solid white;
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 rgb(77 77 77 / 20%);

  :global(.blockCardSeparate) {
    background: #eaeaea;
    width: auto;
    margin: 0 16px;
    height: 1px;
  }
}

.transactionPanel {
  width: 100%;
  margin-bottom: 40px;
  background: white;
  flex: 1;
  min-width: 0;
  border: 0 solid white;
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 rgb(77 77 77 / 20%);

  :global(.transactionCardSeparate) {
    background: #eaeaea;
    width: auto;
    margin: 0 16px;
    height: 1px;
  }
}

.tableHeaderPanel {
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--primary-color);
  border: 0 solid #f9f9f9;
  border-radius: 6px 6px 0 0;

  > img {
    width: 20px;
    height: 20px;
    margin-left: 12px;
    margin-right: 8px;
  }

  > span {
    font-size: 16px;
    font-weight: 600;
    color: white;
  }
}
