@import '../../styles/variables.module';

.holderAllocationContainer {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px 24px 20px 40px;
  width: 497px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobileBreakPoint) {
    width: 90%;
    margin-top: 20vh;
    padding: 24px 16px;
  }

  .closeIcon {
    img {
      width: 16px;
      height: 16px;
    }
  }

  .holderAllocationContent {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @media (max-width: $mobileBreakPoint) {
      align-items: flex-start;

      p {
        line-height: 24px;
      }
    }

    h2 {
      color: #333;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      margin: 0;
    }

    p {
      margin: 0;
      color: #333;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      width: 100%;
      word-wrap: break-word;
    }

    .table {
      border-radius: 4px;
      border: 1px solid #e5e5e5;
      padding: 1px;

      table {
        thead {
          background: #fafafa;

          tr {
            div {
              color: #666;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-transform: capitalize;
            }
          }
        }

        tbody {
          tr {
            div {
              color: #333;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }

        thead,
        tbody {
          tr {
            border-radius: 4px;

            div {
              font-size: 14px;
              padding: 12px 16px;
            }
          }
        }

        width: 312px;
        background: #fff;
      }
    }
  }
}
