@import '../../styles/variables.module';

.udtOverviewCard:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  padding-bottom: 20px;

  @media (width <= $mobileBreakPoint) {
    padding-bottom: 16px;
  }
}

.tags {
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  gap: 8px;

  @media (width <= $mobileBreakPoint) {
    margin-bottom: 16px;
  }
}

.cardTitle {
  display: flex;
  gap: 8px;

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  @media (width <= $mobileBreakPoint) {
    gap: 4px;
    padding-top: 16px;
    color: #333;
    font-size: 20px;
    font-weight: 600;

    .icon {
      width: 32px;
      height: 32px;
    }
  }
}

.cardHeader {
  @media (width <= $mobileBreakPoint) {
    margin-top: 8px;
    margin-bottom: 12px;
    height: 17px !important;
  }
}

.noneName {
  color: #999;
}

.openInNew {
  cursor: pointer;
  margin-left: 4px;

  svg {
    pointer-events: none;

    path {
      fill: #999;
    }
  }

  @media (width <= $mobileBreakPoint) {
    margin-left: 2px;
  }
}

.viewOriginal {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  &:hover {
    color: var(--primary-color);
  }
}

.addressWidthModify {
  max-width: 80%;

  @media (width <= $extraLargeBreakPoint) {
    max-width: 40%;
  }

  @media (width <= $mobileBreakPoint) {
    max-width: 100%;
  }
}

.searchAndfilter {
  display: flex;
  align-items: center;

  > div:last-child {
    margin-left: 8px;
  }

  @media (width <= $mobileBreakPoint) {
    width: 100%;
  }
}

.modify {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 2.5rem;
  margin-left: 8px;
  border-radius: 4px;
  color: #333;
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--primary-color);

    path {
      stroke: var(--primary-color);
    }
  }

  @media (width <= $mobileBreakPoint) {
    width: 9.5rem;
    height: 2rem;
    font-size: 0.875rem;
  }
}

.loading {
  background: #fff;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.scriptToggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.scriptHash {
  margin-top: 12px;
  padding: 12px 24px;
  background: #f7f7f7;
  word-break: break-all;
}
