@use '../../styles/variables.module';

.shareWrapper {
  position: fixed;
  bottom: 10px;
  right: 18px;

  @media (width >= variables.$mobileBreakPoint) {
    right: 60px;
  }
}

.halvingCountdown {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;

  .digitalClockNumber {
    border: 1px solid #004938;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 72px;
    background: linear-gradient(#003a2d, #001d16, #003a2d);
    position: relative;
    margin-bottom: 4px;

    &::after {
      content: ' ';
      width: 100%;
      height: 1px;
      background-color: #004938;
      position: absolute;
      z-index: 0;
    }

    span {
      z-index: 1;
      font-family: digital-clock-font, sans-serif;
      font-size: 32px;
      font-weight: 400;
      padding-top: 5px;
    }
  }

  .digitalClockSeparate {
    width: 8px;
    height: 100%;

    &::after {
      content: ':';
      font-size: 32px;
      height: 64px;
      line-height: 64px;
      display: flex;
      justify-content: center;
    }
  }

  .digitalClockText {
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-color);
    text-align: center;
  }

  @media (width >= variables.$mobileBreakPoint) {
    .digitalClockNumber {
      width: 136px;
      height: 136px;
      margin-bottom: 8px;

      span {
        font-size: 80px;
        padding-top: 10px;
      }
    }

    .digitalClockSeparate {
      width: 16px;

      &::after {
        font-size: 64px;
        height: 136px;
        line-height: 120px;
      }
    }

    .digitalClockText {
      font-size: 14px;
    }
  }
}

.halvingProgress {
  line-height: 0;
}

.halvingProgressMarks {
  color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;

  span {
    position: relative;

    &::after {
      content: ' ';
      width: 2px;
      height: 8px;
      position: absolute;
      top: -4px;
      left: calc(50% - 1px);
      display: flex;
      align-items: center;
      background-color: var(--primary-color);
    }
  }
}

.xIconBg {
  display: flex;
  background: black;
  box-shadow: rgb(77 77 77 / 20%) 0 2px 6px 0;
  border-radius: 6px;
  padding: 8px;
}

.halvingTable {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: #00291f;
  }

  tr {
    text-transform: capitalize;

    &:nth-child(1n) {
      background-color: #003d2f;
    }

    &:nth-child(2n) {
      background-color: #00291f;
    }
  }

  th {
    padding: 16px 24px;
    border: 1px solid rgb(34 27 40);
  }

  td {
    padding: 16px 24px;
    border: 1px solid rgb(34 27 40);
  }
}

.halvingBanner {
  position: relative;
  padding-top: 32px;
  padding-bottom: 128px;
  color: white;
  background-color: rgb(5 22 6 / 100%);
  background-position: bottom;
  background-size: 1080px;
  background-repeat: no-repeat;

  .halvingBannerWrapper {
    display: flex;
    justify-content: center;
  }

  .halvingBannerContent {
    max-width: 100%;
    flex: 1;

    @media (width >= 960px) {
      max-width: 960px;
    }
  }

  .halvingBannerShadow {
    width: 100%;
    height: 72px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%), rgb(17 17 17));
  }
}

.loadingPanel {
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.halvingPanelWrapper {
  background: linear-gradient(90deg, #00574380, #ffffff24, #00574380);
  padding: 2px;
  border-radius: 12px;

  @media (width >= variables.$mobileBreakPoint) {
    border-radius: 24px;
  }
}

.halvingPanel {
  background: #000f0b;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  padding: 24px 16px;
  gap: 24px;
  display: flex;
  flex-direction: column;

  .halvingSuccessText {
    font-size: 20px;
    font-weight: 500;
  }

  .halvingSuccessBtn {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    border: 0;
    background: linear-gradient(180deg, #00cc9b, #008365);
  }

  .halvingPanelTitle {
    display: flex;
    align-items: center;
  }

  @media (width >= variables.$mobileBreakPoint) {
    padding: 32px 64px;
    gap: 32px;
    border-radius: 22px;

    .halvingPanelTitle {
      font-weight: 700;
      font-size: 20px;
    }

    .halvingSuccessText {
      font-size: 32px;
    }
  }
}

.halvingDocuments {
  padding-top: 32px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (width >= variables.$mobileBreakPoint) {
    gap: 32px;
  }
}

.halvingTitle {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;

  @media (width >= variables.$mobileBreakPoint) {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

.halvingSubtitle {
  text-align: center;
  font-weight: 400;
  margin-bottom: 24px;

  @media (width >= variables.$mobileBreakPoint) {
    font-size: 24px;
    margin-bottom: 48px;
  }
}

.panel {
  color: rgb(240 240 240 / 100%);
  background: #001d16;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 24px 16px;
  gap: 16px;
  font-size: 16px;

  @media (width >= variables.$mobileBreakPoint) {
    border-radius: 24px;
    padding: 48px;
    gap: 48px;
  }
}

.panelTitle {
  font-weight: bolder;
  font-size: 20px;
  color: white;
}

.blockquote {
  background-color: #00291f;
  padding: 16px;
  border-radius: 16px;
}

.epochInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .epochInfoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1 1 0%;
  }

  .epochInfoValue {
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  .separate {
    height: 40px;
    background: rgb(234 234 234 / 20%);
    width: 1px;
  }

  @media (width >= variables.$mobileBreakPoint) {
    .epochInfoItem {
      gap: 16px;
      flex: inherit;
    }

    .epochInfoValue {
      font-size: 20px;
    }
  }
}

.flexItemsCenter {
  display: flex;
  align-items: center;
}

.fontSizeSm {
  font-size: 14px;
}

.textSecondary {
  color: rgb(240 240 240 / 50%);
}

.textPrimary {
  color: var(--primary-color);
}

.textCenter {
  text-align: center;
}

.textCapitalize {
  text-transform: capitalize;
}

.halvingPopover {
  border-radius: 4px;
  width: 300px;
}
