.feeRateTrackerPanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .title {
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    margin: 40px 12px 16px;
  }

  .charts {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
    > div {
      margin: 12px;
      display: flex;
      /* width: calc(50% - 24px); */
      width: 100%;
      height: 375px;
      background-color: #ffffff;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 4px 4px rgba(16, 16, 16, 0.05);
      border-radius: 4px;
    }
    .feeRateSection {
      position: relative;

      .updatedTimeCounter {
        width: 100%;
        text-align: right;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #666666;
        position: absolute;
        top: 0;
        right: 0;
        padding: 24px;
      }

      .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        font-size: 13px;

        .card {
          display: flex;
          flex-direction: column;
          width: calc(100% / 3);
          align-items: center;

          > div {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 400;
          }

          > .icon {
            width: 32px;
            height: 32px;
          }
          > .priority {
            width: 80px;
            height: 30px;
            justify-content: center;
            border-radius: 4px;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            margin-top: 20px;
            margin-bottom: 20px;
          }
          > .shannonsPerByte {
            color: #333333;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 12px;
            text-align: center;
          }
          > .secs {
            color: #666666;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
          }
        }
        .card.low {
          > .icon > svg > path {
            fill: #23bff0;
          }
          > .priority {
            color: #23bff0;
            background-color: #e8f9ff;
          }
        }
        .card.average {
          border-left: 1px solid;
          border-right: 1px solid;
          border-image: linear-gradient(to bottom, transparent 36%, #e5e5e5 36%, #e5e5e5 64%, transparent 64%) 1;
          > .icon > svg > path {
            fill: #00cc9b;
          }
          > .priority {
            color: #00cc9b;
            background-color: #e8fff1;
          }
        }
        .card.high {
          > .icon > svg > path {
            fill: #ff5656;
          }
          > .priority {
            color: #ff5656;
            background-color: #ffe8e8;
          }
        }
      }
    }
    .chartTitle {
      display: flex;
      justify-content: center;
      text-align: center;
      color: #333333;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      white-space: pre-line;
      padding: 24px;
    }
    .chart {
      height: 100%;
      width: 100%;
      font-size: 13px;
      background-color: #ffffff;
      box-shadow: 2px 2px 0 0 #dfdfdf;
    }
  }

  @media (max-width: 750px) {
    .title {
      margin: 20px 0 12px;
      font-size: 20px;
      line-height: 23px;
    }
    .charts {
      flex-direction: column;
      width: 100%;
      margin: 0;
      > div {
        width: 100%;
        margin: 0 0 20px;
      }
      .feeRateSection {
        height: auto;

        .updatedTimeCounter {
          padding: 16px;
        }
        .cards {
          margin-top: 48px;
          margin-bottom: 32px;
          flex-direction: column;
          align-items: center;
          .card {
            padding: 32px 0;
          }
          .card.average {
            border-width: 1px 0;
            border-style: solid;
            border-image: linear-gradient(to right, transparent 6%, #e5e5e5 6%, #e5e5e5 94%, transparent 94%) 1;
          }
        }
      }
    }
  }
}
