.hashCardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  @media (width <= 750px) {
    height: 56px;
  }

  .left {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
    min-width: 0;

    .title {
      font-size: 24px;
      font-weight: 600;
      color: #000;
      white-space: nowrap;

      @media (width <= 750px) {
        font-size: 20px;
      }
    }

    .hash {
      min-width: 0;
      font-size: 18px;
      color: #000;

      @media (width <= 750px) {
        transform: translateY(2px);
      }

      &.small {
        font-size: 13px;
        font-weight: 500;
      }
    }

    .title + .hash {
      margin-left: 20px;

      @media (width <= 750px) {
        margin-left: 8px;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-left: 32px;
      color: #999;

      @media (width <= 750px) {
        gap: 12px;
        margin-left: 8px;
      }

      .action {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 24px;
        height: 24px;

        &:hover {
          color: var(--primary-color);
        }

        @media (width <= 750px) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.copyAction {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
