.container{
  margin: 40px 120px 60px;
  background-color: #fff;
  margin-bottom: 18px;
  padding: 20px 40px;
  box-shadow: #dfdfdf 2px 2px 6px 0px;
  border-radius: 6px;

  .header {
    font-size: 20px;
    font-weight: 700;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 6px;
    }
  }

  dl {
    display: flex;
    justify-content: space-between;
  }
}

.desc{
  padding: 20px 0;
  color: #494949;
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 40px 45px 60px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    margin: 40px 8px 60px;
  }
}
