@import '../../../styles/variables.module';

.hoverIconButton {
  color: #999;

  &:hover {
    color: var(--primary-color);
    cursor: pointer;
  }
}

.addressTextWithAlias {
  display: flex;
  align-items: center;

  .icon {
    flex-shrink: 0;
    margin-right: 4px;
  }

  .text {
    flex: 1;
    min-width: 0;
  }

  .link {
    flex: 1;
    min-width: 0;
  }
}

.addressWidthModify {
  min-width: 0;
  width: 260px;

  @media (width <= $xxlBreakPoint) {
    width: 148px;
  }

  @media (width <= $extraLargeBreakPoint) {
    width: 260px;
  }

  @media (width <= $mobileBreakPoint) {
    width: 460px;
  }
}

.currentAddressIcon {
  margin-left: 6px;
  width: 14px;

  @media (width <= $mobileBreakPoint) {
    margin-bottom: 2px;
  }
}

.transactionCellCapacityPanel {
  flex-shrink: 0;
  color: #000;
  margin-left: 15px;
  display: flex;
  max-height: 40px;
  align-items: center;

  .transactionCellWithoutIcon {
    margin-right: 21px;
  }

  @media (max-width: $mobileBreakPoint) {
    margin-left: 0;
    margin-top: 5px;
    height: 16px;
    width: 100%;
    justify-content: flex-end;

    .transactionCellWithoutIcon {
      margin: 0 6px;
    }
  }

  > span {
    margin-left: 5px;
  }
}
