.addressTextWithAlias {
  display: flex;
  align-items: center;

  .icon {
    flex-shrink: 0;
    margin-right: 4px;
  }

  .text {
    flex: 1;
    min-width: 0;
  }

  .link {
    flex: 1;
    min-width: 0;
  }
}

.addressWidthModify {
  min-width: 0;
  width: 260px;

  @media (width <= 1440px) {
    width: 148px;
  }

  @media (width <= 1200px) {
    width: 260px;
  }

  @media (width <= 750px) {
    width: 460px;
  }
}

.currentAddressIcon {
  margin-left: 6px;
  width: 14px;

  @media (width <= 750px) {
    margin-bottom: 2px;
  }
}
