.list {
  background: #fff;
  border-top-right-radius: 6px;
  padding: 0 15px;

  table {
    position: relative;
    width: 100%;
    margin-bottom: 4px;
  }

  thead {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    th {
      vertical-align: middle;
      padding-top: 12px;
      padding-bottom: 12px;
      text-transform: capitalize;
      white-space: nowrap;
    }
    &:after {
      position: absolute;
      left: -15px;
      top: 44px;
      width: calc(100% + 30px);
      height: 4px;
      content: '';
      display: block;
      background-color: #ededed;
    }
  }

  tbody {
    td {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
    }

    tr:not(:last-child) {
      border-bottom: 1px solid #d8d8d8;
    }
  }

  th,
  td {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 0.25vw;

    &:last-child {
      text-align: right;
    }

    &:first-child,
    &:last-child {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .noRecord {
    text-align: center !important;
  }
}

.addr {
  font-weight: 700;
  font-family: inherit;
}

@media screen and (min-width: 1024px) {
  .addr:last-child {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .addr:first-child {
    display: none;
  }
}
