:global(.ant-tooltip) {
  max-width: 320px;
}

.comparedSizeTooltip {
  :global(.ant-tooltip-inner) {
    border-radius: 8px;
    mix-blend-mode: normal;
    padding: 10px 16px;
    > div {
      font-weight: 400;
      margin: 0;
      > div:first-child {
        font-size: 16px;
        line-height: 19px;
        padding: 0 0 3px 0;
      }
      > div:nth-child(2) {
        font-size: 14px;
        line-height: 16px;
        padding: 3px 0;
      }
    }
    > div.inEpoch {
      margin-bottom: 10px;
      :global(.ant-progress-bg) {
        background-color: var(--primary-color);
      }
    }
    > div.inChain {
      :global(.ant-progress-bg) {
        background-color: #346dff;
      }
    }
  }
  hr {
    margin: 8px 0;
    opacity: 0.2;
  }
}
