.container {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 450;
  line-height: 1.2;
  text-align: center;
  padding: 1rem;
  background-color: #fa8f00;
  z-index: 9;

  @media screen and (max-width: 800px) {
    text-align: left;
  }
}
