.name {
  margin-left: 0.25rem;
  font-size: smaller;
  color: #aaa;
}

.sortIcon {
  border: none;
  outline: none;
  background-color: transparent;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 8px;
}

.sortAsc {
  svg > path:first-child {
    fill: var(--primary-color);
  }
}

.sortDesc {
  svg > path:last-child {
    fill: var(--primary-color);
  }
}

