@import '../../styles/variables.module';

.link {
  display: flex;
  align-items: center;
  color: var(--primary-color);

  &:hover {
    color: var(--primary-color);
  }
}

.progress {
  width: 112px;
  height: 8px;
  border-radius: 8px;
  background: #f5f5f5;
  overflow: hidden;

  .block {
    display: block;
    height: 100%;
    border-radius: 8px;
    background: var(--primary-color);
  }
}

.filterSortCard:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  padding: 16px;
}

.sortOption {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}

.tokensCard {
  margin-top: 10px;
  padding: 0 24px;
  font-size: 14px;
  color: #333;
}

.tokenInfo {
  display: grid;
  grid-template-columns: 40px 16px min-content 16px auto;
  grid-template-rows: 20px;
  padding: 16px 0;
  border-bottom: 1px solid #f5f5f5;

  .icon {
    width: auto;
    height: 100%;
    float: right;
  }

  .symbol {
    grid-column: 3 / -1;
    align-self: center;
  }

  .name {
    grid-column: 3 / -1;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 2px;
    font-size: 12px;
    line-height: normal;
    color: #999;

    .helpIcon {
      width: 16px;
      height: 16px;
    }
  }

  .description {
    grid-column: 3 / -1;
    margin-top: 4px;
    font-size: 12px;
    line-height: 20px;
    color: #666;
  }

  .progress {
    grid-column: 3 / -1;
    margin-top: 10px;
  }

  .fieldName {
    grid-column: 3 / 4;
    margin-top: 12px;
    white-space: nowrap;
  }

  .fieldValue {
    grid-column: -2 / -1;
    margin-top: 12px;
  }
}

.submitTokenInfoBtn {
  color: var(--primary-color);
  border: none;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.tokensTable:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.'][_='']
  ) {
  $paddingX: 40px;

  table-layout: fixed;
  width: 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  line-height: 1.5715;
  font-size: 14px;
  color: #333;
  max-width: 100%;

  /* stylelint-disable-next-line selector-class-pattern */
  :global() {
    &:hover td {
      background: unset;
    }
  }

  border-collapse: collapse;

  thead tr {
    border-bottom: 4px solid #e5e5e5;
  }

  tbody {
    background-color: #fff;
  }

  tbody tr {
    position: relative;

    &:not(:last-child)::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: $paddingX;
      display: block;
      width: calc(100% - $paddingX * 2);
      height: 1px;
      background: #e5e5e5;
    }

    .colCreatedTime {
      color: #00cc9b;
      font-size: 14px;
    }
  }

  th {
    background: #fff;
    font-weight: 600;
    text-align: left;

    &::before {
      display: none;
    }

    > span {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  }

  th,
  td {
    padding: 16px;
    border-bottom: 0;

    &:first-child {
      padding-left: $paddingX;
    }

    &:last-child {
      padding-right: $paddingX;
    }
  }

  .colName {
    width: 40%;

    .container {
      display: flex;
      position: relative;
      align-items: center;
      gap: 10px;

      .warningIcon {
        position: absolute;
        right: 101%;
      }

      .icon {
        width: 30px;
        height: 30px;
      }

      .right {
        overflow: hidden;

        .symbolAndName {
          display: flex;
          align-items: center;
          line-height: normal;
          font-size: 14px;
          color: #333;
          overflow: hidden;

          .link {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .name {
            margin-left: 8px;
            font-size: 12px;
            color: #999;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .helpIcon {
            width: 16px;
            height: 16px;
            margin-left: 4px;
          }
        }

        .description {
          line-height: normal;
          font-size: 12px;
          color: #666;
          margin-top: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .colStatus {
    min-width: 240px;

    .container {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #000;

      .mintStatus {
        width: 88px;
      }
    }
  }

  .colTransactions {
    min-width: 200px;
  }

  .colAddressCount {
    min-width: 170px;
  }

  .colCreatedTime {
    width: 1%;
    white-space: nowrap;
  }

  .loading {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
  }
}

.pagination {
  border-top: 4px solid #e5e5e5;

  @media (width <= $mobileBreakPoint) {
    border-top: 0;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: none;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;
  font-weight: bold;

  .titleText {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .currentPath {
    font-size: 14px;
    color: #333;
    font-weight: normal;
  }

  .currentPage {
    color: var(--primary-color);
  }

  a {
    font-weight: normal;
    font-size: 12px;
    height: 28px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #333;
    border: 1px solid #8a8a8a;
    border-radius: 14px;

    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
}

.tokensContentEmpty {
  height: 100px;
  line-height: 100px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  margin-top: 4px;
}
