@import '../../styles/variables.module';

.link {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 0.25rem;
  font-size: smaller;
  color: #aaa;
}

.progress {
  width: 112px;
  height: 8px;
  border-radius: 8px;
  background: #f5f5f5;
  overflow: hidden;

  .block {
    display: block;
    height: 100%;
    border-radius: 8px;
    background: var(--primary-color);
  }

  @media (width <= $mobileBreakPoint) {
    margin-left: 30px;
    margin-top: 3px;
  }
}

.sortIcon {
  border: none;
  outline: none;
  background-color: transparent;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 8px;
  cursor: pointer;
}

.sortAsc {
  svg > path:first-child {
    fill: var(--primary-color);
  }
}

.sortDesc {
  svg > path:last-child {
    fill: var(--primary-color);
  }
}

.mintStatus {
  text-align: left;
  width: 88px;
}

.colStatus:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.'][_='']
  ) {
  flex: 3;
  text-align: left;
}
