@import '../../styles/variables.module';

.container {
  flex: 1;
  margin: 32px 120px 40px;

  @media (width <= $xxlBreakPoint) {
    margin: 32px 100px 40px;
  }

  @media (width <= $extraLargeBreakPoint) {
    margin: 32px 45px 40px;
  }

  @media (width <= $mobileBreakPoint) {
    margin: 20px 16px;
  }
}

.overview {
  display: flex;
  gap: 32px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;

  & > div {
    overflow: hidden;
  }

  .info {
    width: 100%;
  }

  .cover {
    width: 440px;
    height: 440px;
    flex-shrink: 0;
    border-radius: 8px;
    object-fit: scale-down;
    background: #fafafa;
  }

  .name {
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
  }

  .items {
    .item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;

      & > div:first-child {
        font-size: 14px;
        font-weight: 400;
        color: #999;
      }

      & > div:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media (width <= $largeBreakPoint) {
    .cover {
      width: 360px;
      height: 360px;
    }
  }

  @media (width <= $mobileBreakPoint) {
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid #f5f5f5;

    .cover {
      width: 100%;
      height: auto;
    }

    .name {
      width: 100%;
      padding-bottom: 16px;
      border-bottom: 1px solid #f5f5f5;
    }

    .items {
      width: 100%;

      .item {
        gap: 8px;
        margin-top: 16px;
      }
    }
  }
}

.tab {
  display: flex;
  place-content: center;
  place-items: center;
  width: 104px;
  height: 40px;
  margin-top: 24px;
  background: #fff;
  color: #333;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-right: 6px;
  font-size: 16px;
}

.extra {
  width: min-content;
}
