@import '../../../styles/variables.module';

.transactionAddress {
  max-width: 90%;
  color: var(--primary-color);
  font-size: 14px;
  margin-top: 3px;

  @media (width <= $mobileBreakPoint) {
    font-size: 13px;
    margin-top: 1px;
  }

  &:hover {
    color: var(--primary-color);
  }
}
