@import '../../../styles/variables.module';

.container {
  display: flex;
  background: #fff;
  justify-content: space-between;
  height: 34px;

  form {
    display: flex;
    gap: 20px;

    label {
      display: flex;
      align-items: center;
    }

    button {
      display: flex;
      justify-content: center;
      width: 50px;
      background: #f5f5f5;
      border-radius: 6px;
    }

    input {
      width: 100;
      padding: 0 10px;
      color: #969696;
      border-radius: 6px;
      background: #f5f5f5;
      border: none;
    }
  }

  .pager {
    display: flex;
    gap: 20px;

    .pageNo {
      display: flex;
      align-items: center;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #969696;

    &:hover {
      color: var(--primary-color);
    }

    &[aria-disabled='true'] {
      pointer-events: none;
      opacity: 0.5;
    }

    &[data-role='first-page'],
    &[data-role='last-page'] {
      width: 50px;
      background: #f5f5f5;
      border-radius: 6px;
    }

    &[data-role='prev-page'],
    &[data-role='next-page'] {
      width: 30px;
      height: 30px;
      background: #f5f5f5;
      border-radius: 6px;
    }
  }

  @media screen and (width < $mobileBreakPoint) {
    font-size: 12px;

    .pager {
      gap: 4px;
    }

    a {
      &[data-role='first-page'],
      &[data-role='last-page'] {
        display: none;
      }
    }

    .pageNo {
      order: 3;
    }
  }
}
