.list {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  justify-items: center;
  background: #fff;
  border-top-right-radius: 6px;
  padding: 20px 20px 0;
  margin-bottom: 4px;

  .item {
    display: flex;
    flex-direction: column;
    width: 216px;
    height: 276px;
    border: 1px solid #f0f0f0;
    border-radius: 16px;
    align-items: center;
    padding: 12px;
    margin-bottom: 20px;
  }

  .cover {
    width: 192px;
    height: 192px;
    border-radius: 8px;
    object-fit: cover;
  }
  .tokenId,
  .owner {
    display: flex;
    width: 100%;
    line-height: 1em;
    span:first-of-type {
      flex-basis: 80px;
      flex-shrink: 0;
    }
    span,
    a {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .tokenId {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  @for $i from 0 through 12 {
    @media screen and (min-width: 1200px + $i * 220px) {
      grid-template-columns: repeat(3 + $i, 1fr);
    }
  }

  @media screen and (max-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 860px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 540px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
