.autoExpand {
  display: flex;
  flex: 1;
  min-width: 0;

  .content {
    display: flex;
    flex-shrink: 0;
  }

  .expandable {
    display: flex;
    justify-content: right;
    flex: 1;
    min-width: 0;
  }
}

.stickyContainer {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;

  &.expanded {
    height: 100vh;
  }
}

.headerPanel {
  width: 100%;
  min-height: var(--navbar-height);
  background-color: #040607;
  overflow: visible;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 120px;

  @media (max-width: 1440px) {
    padding: 0 100px;
  }

  @media (max-width: 1200px) {
    padding: 0 45px;
  }

  @media (max-width: 780px) {
    padding: 0 18px;
  }
}

.headerLogoPanel {
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-right: 56px;

  @media (max-width: 1044px) and (min-width: 1024px) {
    margin-right: calc(56px - ((1440px - 100vw) * 0.12));
  }

  > img {
    width: 114px;
    height: 30px;
  }
}

.headerEmptyPanel {
  flex: 1;
}

.headerMobileMenuPanel {
  > img {
    width: 18px;
    height: 18px;
  }

  :global(.menuIconFirst),
  :global(.menuIconSecond),
  :global(.menuIconThird) {
    width: 18px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  :global(.close .menuIconFirst) {
    transform: rotate(-45deg) translate(-4px, 5px);
  }

  :global(.close .menuIconSecond) {
    opacity: 0;
  }

  :global(.close .menuIconThird) {
    transform: rotate(45deg) translate(-4px, -6px);
  }
}
