.paginationWithRear {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
  margin-top: 4px;
  background-color: white;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  padding: 0 40px;

  .pagination {
    width: fit-content;
    box-shadow: none;
    flex: 1 0.8 auto;
    min-width: 650px;

    @media (width <= 750px) {
      min-width: auto;
      border-radius: 0;
    }

    :global(.paginationInputPage) {
      flex: 1;
      width: 60px;
      max-width: 120px;
    }
  }

  :global(.paginationGotoPage) {
    min-width: 42px;
  }

  .rear {
    display: flex;
    justify-content: flex-end;

    @media (width <= 750px) {
      height: 50px;
      border-radius: 0 0 6px 6px;
      border-top: 1px solid #f0f0f0;
      width: 100%;
    }
  }

  @media (width <= 750px) {
    justify-content: flex-end;
    margin-top: 5px;
    padding: 0 20px;

    > .pagination {
      margin-bottom: 0;
    }
  }
}
