.container {
  &[data-is-fallback='true'] {
    & > div:last-child {
      opacity: 0;
      position: absolute;
      width: 0;
      height: 0;
    }
  }
  &[data-is-fallback='false'] {
    & > div:first-child {
      opacity: 0;
      position: absolute;
      width: 0;
      height: 0;
    }
  }
}
.banner {
  background: #000;
  --rendererWidth: 1200px;

  &.mobile {
    --rendererWidth: 600px;
  }

  .renderer {
    position: relative;
    left: calc(50% - var(--rendererWidth) / 2);
    width: var(--rendererWidth);
    height: calc(var(--rendererWidth) / 4);
  }

  canvas {
    filter: drop-shadow(2px 4px 6px #000);
  }
}
