@use '../../../styles/variables.module';
@use '../../../styles/table.module';

.container {
  margin: 24px 120px;
  font-size: 1rem;

  .channels {
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 12%) 0 2px 6px 0;
    overflow: hidden;
  }

  button {
    display: flex;
    align-items: center;
    appearance: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      color: var(--primary-color-hover);
    }
  }

  .header {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .pagination {
    background: #fff;
    padding: 8px 40px;
    margin-top: 4px;
  }

  @media screen and (width < variables.$extraLargeBreakPoint) {
    margin: 24px 20px;
  }

  @media screen and (width < 1330px) {
    font-size: 14px;
  }
}
