@import '../../../styles/variables.module';
@import '../../../styles/card.module';
@import '../../../styles/text.module';

.container {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 24px 120px;
  font-size: 1rem;

  a {
    color: var(--primary-color);
  }

  dl {
    display: flex;

    dt,
    dd {
      display: flex;
      align-items: center;
      gap: 4px;
      margin: 0;
      padding: 0;
    }

    dt::after {
      content: ':';
      margin-right: 4px;
    }
  }

  table {
    width: 100%;
    text-align: left;
    cursor: default;

    td,
    th {
      padding: 8px;
      padding-right: 16px;

      &:last-child {
        text-align: right;
      }
    }

    tbody {
      tr:hover {
        background: #ccc;
      }
    }
  }

  svg {
    pointer-events: none;
  }

  button {
    display: flex;
    align-items: center;
    appearance: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }
  }

  .overview {
    @extend %base-card;

    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;

    .name {
      display: flex;
      gap: 8px;
      margin-bottom: 20px;
      padding-bottom: 16px;
      border-bottom: 1px solid #e5e5e5;
    }

    .info {
      display: flex;

      & > div {
        flex: 0 0 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &[data-side='left'] {
          padding-right: 40px;
          border-right: 1px solid #e5e5e5;
        }

        &[data-side='right'] {
          padding-left: 40px;
        }
      }

      dl {
        justify-content: space-between;
        margin: 0;
      }

      dd {
        text-align: right;
      }

      @media screen and (width < $mobileBreakPoint) {
        flex-direction: column;

        & > div {
          gap: 0;

          &[data-side='left'] {
            border-right: none;
            padding-bottom: 16px;
            padding-right: 0;
          }

          &[data-side='right'] {
            padding-left: 0;
          }

          dl {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 16px 0;
            border-bottom: 1px solid #e5e5e5;
          }
        }

        .thresholds {
          .token {
            gap: 8px;
            justify-content: flex-start;
          }
        }
      }
    }
  }

  .id,
  .connectId {
    overflow: hidden;

    & > span:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
      flex-shrink: 1;
    }
  }

  .thresholds {
    line-height: 1;

    dt {
      align-items: start;
    }

    dd {
      margin-left: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      img {
        flex: 0 0;
      }

      .token {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
      }
    }
  }

  .activities {
    display: flex;
    gap: 24px;
    margin-top: 24px;

    .channels,
    .transactions {
      overflow: hidden;
      flex-basis: 50%;
      background: #fff;
      border-radius: 6px;
      padding: 16px;
      box-shadow: 0 2px 6px 0 #4d4d4d33;
      font-size: 0.8em;

      * {
        font-size: inherit;
      }

      h3 {
        margin: 0;
        padding: 0;
      }
    }

    @media screen and (width < $mobileBreakPoint) {
      flex-direction: column;
    }

    @media screen and (width < 500px) {
      thead {
        display: none;
      }

      tbody {
        tr {
          display: flex;
          flex-direction: column;
          padding: 16px 0;

          &:not(:last-child) {
            border-bottom: 1px solid #ccc;
          }

          td {
            text-align: left;
            padding: 0;
          }
        }
      }
    }
  }

  @media screen and (width < $extraLargeBreakPoint) {
    margin: 24px 20px;
  }

  @media screen and (width < 1030px) {
    font-size: 14px;
  }
}

.addresses {
  select {
    max-width: 24vw;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (width < $extraLargeBreakPoint) {
      max-width: 20vw;
    }
  }
}

.tx {
  padding: 8px 40px;
  display: flex;
  flex-direction: column;

  @media screen and (width < $extraLargeBreakPoint) {
    padding: 8px;
  }

  time {
    margin-right: auto;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .addr {
    @extend %hash;
  }

  a {
    @extend %monospace;

    display: flex;
    align-items: center;
    overflow: hidden;
    user-select: none;

    div {
      font-family: inherit;
    }

    div:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
