@import '../../styles/variables.module';

.container {
  width: 100%;
  overflow: scroll;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .filters {
      display: flex;
      align-items: center;
      gap: 24px;

      button {
        width: 20px;
        height: 20px;
        appearance: none;
        border: none;
        cursor: pointer;
        color: #999;

        &:hover {
          color: var(--primary-color);
        }

        svg {
          pointer-events: none;
          width: 100%;
          height: 100%;
        }
      }

      .capacitySortIcon {
        &[data-current-sort='capacity.asc'] {
          path:last-of-type {
            fill: var(--primary-color);
          }
        }

        &[data-current-sort='capacity.desc'] {
          path:first-of-type {
            fill: var(--primary-color);
          }
        }
      }
    }
  }

  .content {
    overflow-x: scroll;

    @media (width >= $extraLargeBreakPoint) {
      max-height: 220px;
    }

    @media (width <= $extraLargeBreakPoint) {
      max-height: 310px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
    gap: 1rem;
  }
}

.card {
  min-height: 86px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.cellTitle {
  display: flex;
  align-items: center;
  background: var(--primary-color);
  color: #fff;
  height: 1.875rem;
  padding: 8px;

  span {
    &:first-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:last-child {
      flex-shrink: 0;
    }
  }
}

.cellContent {
  padding: 8px;
  display: flex;
  line-height: 1;

  img,
  svg {
    margin-right: 8px;
  }

  .assetName {
    color: #666;
  }

  .attribute {
    display: flex;

    &Content {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .copy {
    appearance: none;
    border: none;
    background: none;
    width: 14px;
    cursor: pointer;

    &:hover {
      svg {
        stroke: var(--primary-color);
      }
    }

    svg {
      pointer-events: none;
      height: 14px;
    }
  }

  .fields {
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.tableContainer {
  table {
    width: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;

    thead tr th {
      background: #fff;
      position: sticky;
      top: -1px;
    }

    th,
    td {
      border: 1px solid #e5e5e5;
      text-align: center;
      padding: 0 24px;
      font-size: 14px;
      color: #333;
    }

    th {
      height: 40px;
    }

    td {
      height: 48px;
    }
  }
}

.detail {
  text-decoration: underline;
  cursor: pointer;
  color: #666;

  &:hover {
    color: var(--primary-color);
  }
}

.loading {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.loadMore {
  display: flex;
  justify-content: center;
  padding: 0.5rem;

  button {
    cursor: pointer;
    appearance: none;
    border: none;
  }
}
