@import '../../styles/variables.module';

.container {
  width: 100%;
  overflow: auto;
  scrollbar-gutter: stable;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .filters {
      display: flex;
      align-items: center;
      gap: 24px;

      button {
        width: 20px;
        height: 20px;
        appearance: none;
        border: none;
        cursor: pointer;
        color: #999;

        &:hover {
          color: var(--primary-color);
        }

        svg {
          pointer-events: none;
          width: 100%;
          height: 100%;
        }
      }

      .capacitySortIcon {
        &[data-current-sort='capacity.asc'] {
          path:last-of-type {
            fill: var(--primary-color);
          }
        }

        &[data-current-sort='capacity.desc'] {
          path:first-of-type {
            fill: var(--primary-color);
          }
        }
      }
    }
  }

  .content {
    overflow-x: auto;
    scrollbar-gutter: stable;

    @media (width >= $extraLargeBreakPoint) {
      max-height: 220px;
    }

    @media (width <= $extraLargeBreakPoint) {
      max-height: 310px;
    }
  }

  .cardsContainer {
    @media screen and (max-width: $mobileBreakPoint) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
      gap: 1rem;
      font-weight: 500;
    }

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
  }
}

.card {
  min-height: 86px;
  background: #fff;
  border-radius: 4px;

  h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    color: #fff;
    height: 1.875rem;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .explorerLink {
      display: flex;
      align-items: center;
      gap: 8px;

      a {
        &:hover {
          font-weight: bold;
          color: var(--primary-color);
          text-decoration: underline;
        }

        svg {
          vertical-align: middle;
          width: 14px;
        }
      }
    }

    .copy {
      appearance: none;
      border: none;
      background: none;
      width: 14px;
      cursor: pointer;
      margin-right: 8px;
      height: 14px;

      svg {
        pointer-events: none;
        height: 14px;
      }
    }

    .multipleAssetsAlert {
      display: flex;
      align-items: center;
      gap: 4px;

      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;
        flex: 1;
        text-align: right;
      }
    }
  }

  .itemContentContainer {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    .itemContent {
      flex: 0 0 auto;
      min-width: 250px;
      padding: 8px;
      display: flex;
      line-height: 1;

      img,
      svg {
        margin-right: 8px;
      }

      .assetName {
        font-weight: 500;
      }

      .attribute {
        display: flex;
      }

      .copy {
        appearance: none;
        border: none;
        background: none;
        width: 14px;
        cursor: pointer;

        &:hover {
          svg {
            stroke: var(--primary-color);
          }
        }

        svg {
          pointer-events: none;
          height: 14px;
        }
      }

      .fields {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}

.tableContainer {
  table {
    width: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;

    thead tr th {
      background: #fff;
      position: sticky;
      top: -1px;
    }

    th,
    td {
      border: 1px solid #e5e5e5;
      text-align: center;
      padding: 0 24px;
      font-size: 14px;
      color: #333;
    }

    th {
      height: 40px;
    }

    td {
      height: 48px;
    }
  }

  .cellInfo {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.loadMore {
  display: flex;
  justify-content: center;
  padding: 0.5rem;

  button {
    cursor: pointer;
    appearance: none;
    border: none;
  }
}
