.addressWidthModify {
  max-width: 80%;

  @media (width <= 1200px) {
    max-width: 40%;
  }

  @media (width <= 750px) {
    max-width: 100%;
  }
}

.transactionTitleCard {
  height: 80px;

  @media (width <= 750px) {
    height: 152px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    > div {
      display: flex;
      align-items: center;
      padding: 0 12px;
    }

    > div:first-child {
      margin: 0;
      height: 56px;
    }

    > div:last-child {
      width: 100%;
      order: 3;
      height: 92px;

      > div {
        width: 100%;

        > label {
          width: 50%;
        }
      }
    }

    &::after {
      content: ' ';
      order: 2;
      background: #ededed;
      height: 4px;
      width: 100%;
    }
  }
}

.sortAndFilter {
  display: flex;
  align-items: center;
  padding-right: 2.6rem;

  svg {
    cursor: pointer;
  }

  &[data-is-active='true'] {
    svg {
      path {
        fill: var(--primary-color);
      }
    }
  }
}

.layoutButtons {
  :global {
    /* stylelint-disable-next-line selector-class-pattern */
    .ant-radio-button-wrapper {
      height: 40px;
      width: 120px;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 38px;
      color: #333;
      border: 1px solid #e5e5e5;
      box-shadow: none;

      &::before {
        content: none;
      }

      &:hover {
        color: #333;
        background: #fff;
      }

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }

      /* stylelint-disable-next-line selector-class-pattern */
      &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        background: #333;
        border-color: #333;

        &:hover {
          background: #333;
        }
      }
    }
  }
}

.liteTransactionHeader {
  display: flex;
  width: 100%;
  background-color: #fff;
  margin-top: 4px;
  padding: 23px 40px 22px;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333;

  > div {
    &:first-child {
      width: 28%;
    }

    &:nth-child(2) {
      width: 13%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 20%;
    }

    &:last-child {
      width: 19%;
      text-align: right;
      padding: 0;
    }
  }
}
