@import '../../styles/variables.module';

.addressOverviewCard:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  margin-top: 24px;
  padding-bottom: 40px;

  .cardTitle {
    display: flex;
    align-items: center;
    height: 56px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
  }

  @media (width <= $mobileBreakPoint) {
    margin-top: 20px;
    padding-bottom: 16px;
  }
}

.addressUDTAssetsPanel + .addressLockScriptPanel {
  margin-top: 24px;
}

.addressWidthModify {
  max-width: 80%;

  @media (width <= $extraLargeBreakPoint) {
    max-width: 40%;
  }

  @media (width <= $mobileBreakPoint) {
    max-width: 100%;
  }
}

.txHeaderLabels {
  display: flex;
  align-items: stretch;

  @media (width <= $mobileBreakPoint) {
    margin-bottom: 1rem;
  }

  a {
    position: relative;
    height: 100%;
    font-weight: 400;
    white-space: nowrap;
    margin-right: 1rem;

    &[data-is-active='true'] {
      font-weight: 600; // 500 is set in figma, but not obvious enough in fact
      &::after {
        content: '';
        display: block;
        width: 72px;
        height: 4px;
        background: var(--primary-color);
        position: absolute;
        bottom: -24px;
        left: 50%;
        transform: translateX(-50%);

        @media (width <= $mobileBreakPoint) {
          width: 104px;
          height: 2px;
          bottom: -10px;
        }
      }
    }

    &:first-child {
      margin-right: 4rem;

      @media (width <= $extraLargeBreakPoint) {
        margin-right: 1rem;
      }
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}

.transactionListOptionsCard:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  margin-top: 24px;

  @media (width <= $mobileBreakPoint) {
    padding-bottom: 16px;
  }

  .cardHeader {
    padding: 20px 0;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (width <= $mobileBreakPoint) {
      padding: 10px 0;
    }
  }
}

.searchOptionsAndModeSwitch {
  display: flex;
  gap: 40px;

  @media (width <= $extraLargeBreakPoint) {
    gap: 1rem;
  }

  @media (width <= $mobileBreakPoint) {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.sortAndFilter {
  display: flex;
  align-items: center;

  svg {
    cursor: pointer;
  }

  &[data-is-active='true'] {
    svg {
      path {
        fill: var(--primary-color);
      }
    }
  }
}

.layoutButtons {
  width: 240px;

  @media (width <= $mobileBreakPoint) {
    width: 100%;
  }

  :global {
    /* stylelint-disable-next-line selector-class-pattern */
    .ant-radio-button-wrapper {
      height: 40px;
      width: 50%;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 38px;
      color: #333;
      border: 1px solid #e5e5e5;
      box-shadow: none;

      &::before {
        content: none;
      }

      &:hover {
        color: #333;
        background: #fff;
      }

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }

      /* stylelint-disable-next-line selector-class-pattern */
      &.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        background: #333;
        border-color: #333;

        &:hover {
          background: #333;
        }
      }
    }
  }
}

.liteTransactionHeader {
  display: flex;
  width: 100%;
  background-color: #fff;
  margin-top: 4px;
  padding: 23px 40px 22px;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333;

  > div {
    &:first-child {
      width: 28%;
    }

    &:nth-child(2) {
      width: 13%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 20%;
    }

    &:last-child {
      width: 19%;
      text-align: right;
      padding: 0;
    }
  }
}

.openInNew {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  &:hover {
    color: var(--primary-color);
  }
}

.dasAccount {
  display: flex;
  align-items: center;
  background: #fafafa;
  border: 1px solid #f0f0f0;
  height: 32px;
  border-radius: 4px;
  padding: 0 4px;
  margin-left: 20px;
  max-width: 152px;
  font-size: 16px;
  font-weight: 500;

  @media (width <= $mobileBreakPoint) {
    max-width: 90px;
    font-size: 13px;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    border-radius: 50%;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
  }
}

.noRecords {
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-size: 1rem;
}

.assetCardList {
  margin-top: 10px;
  background-color: #f1f1f1;
  padding: 6px 25px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.scriptToggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.scriptHash {
  margin-top: 12px;
  padding: 12px 24px;
  background: #f7f7f7;
  word-break: break-all;
}
