@use '../../../styles/variables.module';

.panel {
  width: 100%;
  border-radius: 6px;
  box-shadow: 2px 2px 6px 0 #dfdfdf;
  margin-top: 5px;
  padding: 16px;
  background-color: #fff;
  color: #000;
}

.panelTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 16px;
}
