@import '../../styles/variables.module';

dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

.tokensLoadingPanel {
  width: 100%;
  text-align: center;

  @media (max-width: $mobileBreakPoint) {
    height: 100px;
    line-height: 100px;
    margin-bottom: 160px;
    width: 100%;
    text-align: center;
    margin-top: 4px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
  }
}

.tokensPanel {
  margin-top: 40px;
  margin-bottom: 60px;

  @media (max-width: $mobileBreakPoint) {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .tokensTitlePanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: $mobileBreakPoint) {
      margin-bottom: 10px;
    }

    > span {
      color: #000;
      font-size: 24px;
      font-weight: bold;
    }

    > a {
      font-size: 14px;
      color: var(--primary-color);
    }
  }
}

.link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;

  &:hover {
    color: var(--primary-color);
  }
}

.filterSortCard:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  padding: 16px;
}

.sortOption {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}

.table {
  display: block;
  overflow-x: auto;
  border-radius: 8px 8px 0 0;

  @media screen and (width <=$mobileBreakPoint) {
    display: none;
  }
}

.cards {
  display: none;

  @media screen and (width <=$mobileBreakPoint) {
    display: block;
  }
}

.tokensCard {
  margin-top: 10px;
  padding: 16px;
  font-size: 14px;
  box-shadow: 0 4px 4px 0 rgb(16 16 16 / 5%);
  color: #333;
}

.tokenInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &:first-child {
    @media (width <=$mobileBreakPoint) {
      margin-top: 16px;
    }
  }

  &:last-child {
    @media (width <=$mobileBreakPoint) {
      margin-bottom: 16px;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 16px;
  }

  &:not(:first-child) {
    margin-top: 16px;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--666666, #666);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    & + dd {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .value {
    word-wrap: break-word;
    word-break: break-all;
    color: var(--333333, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.tokensTable:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.'][_='']
  ) {
  $paddingX: 40px;

  width: 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  line-height: 1.5715;
  font-size: 14px;
  color: #333;
  max-width: 100%;

  /* stylelint-disable-next-line selector-class-pattern */
  :global() {
    &:hover td {
      background: unset;
    }
  }

  border-collapse: collapse;

  thead tr {
    border-bottom: 4px solid #e5e5e5;
  }

  tbody {
    background-color: #fff;
  }

  tbody tr {
    position: relative;

    &:not(:last-child)::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: $paddingX;
      display: block;
      width: calc(100% - $paddingX * 2);
      height: 1px;
      background: #e5e5e5;
    }

    .colCreatedTime {
      color: var(--primary-color);
      font-size: 14px;
    }
  }

  th {
    background: #fff;
    font-weight: 600;
    text-align: left;

    &::before {
      display: none;
    }

    > div {
      display: flex;
      align-items: center;
    }
  }

  th,
  td {
    padding: 16px;
    border-bottom: 0;

    &:first-child {
      width: 20%;
      padding-left: $paddingX;
    }

    &:last-child {
      padding-right: $paddingX;
    }
  }

  .colTags {
    display: flex;
    align-items: center;

    .tags {
      flex-wrap: wrap;
      display: flex;
      gap: 8px;
      margin-left: 8px;
    }
  }

  .colNotes {
    text-align: left;
  }

  .tdNotes {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .colName {
    .container {
      display: flex;
      position: relative;
      align-items: center;
      gap: 10px;

      .right {
        display: flex;
        align-items: center;

        .symbolAndName {
          display: flex;
          flex-direction: column;
          align-items: left;
          line-height: normal;
          color: #333;

          .name {
            margin-top: 2px;
            font-size: 16px;
          }

          .codeHash {
            font-size: 13px;
            color: #999;
            width: 33%;
          }
        }
      }
    }
  }

  .colStatus {
    min-width: 240px;

    .container {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #000;

      .mintStatus {
        width: 88px;
      }
    }
  }

  .colTransactions {
    min-width: 200px;
  }

  .colCreatedTime {
    width: 1%;
    white-space: nowrap;
  }

  .loading {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
  }
}

.action {
  text-decoration: underline;
}

.pagination {
  border-top: 4px solid #e5e5e5;

  @media (width <=$mobileBreakPoint) {
    border-top: 0;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: none;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}
