.container {
  position: relative;
  background: rgb(237 237 237);
}

.scaleSelector {
  position: absolute;
  display: flex;
  align-items: center;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  gap: 8px;

  input[type='radio'] {
    accent-color: #5824fb;

    &::after {
      border: 1px solid red;
    }
  }
}
