@use '../../styles/variables.module';

.searchPanel {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 0 solid white;
  border-radius: 4px;

  [data-role='search-result-list'] {
    display: none;
  }

  &:focus-within {
    [data-role='search-result-list'] {
      display: flex;
    }
  }

  @media (max-width: variables.$mobileBreakPoint) {
    padding-right: 8px;
  }
}

.searchButton {
  flex-shrink: 0;
  width: 72px;
  height: calc(100% - 4px);
  margin: 2px 2px 2px 16px;
  border-radius: 0 4px 4px 0;
  background-color: #121212;
  text-align: center;
  line-height: 34px;
  color: #fff;
  letter-spacing: 0.2px;
  font-size: 14px;
  cursor: pointer;

  @media (max-width: variables.$mobileBreakPoint) {
    display: none;
  }
}

.preIcon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.spinner {
  animation: rotate 2s linear infinite;
}

.clear {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.byNameOrId:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  margin-left: 16px;
  padding: 0 8px;
  color: #666;
  background: #f0f0f0;
  border-radius: 2px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
