.searchResultsPanelWrapper {
  position: absolute;
  z-index: 2;
  top: calc(100% + 8px);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-height: 292px;
  padding: 12px 8px;
  overflow-y: auto;
  background: white;
  color: black;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgb(16 16 16 / 5%);
}

.ellipsisText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlightText {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.highlight {
  color: var(--primary-color);
}

.empty {
  padding: 28px 0;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.searchResult {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 0 4px;
  cursor: pointer;

  &:hover {
    color: #000;
    background: #f5f5f5;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 44px;
  padding: 12px 0;
  border-bottom: solid 1px #e5e5e5;
}

.tokenSymbol {
  font-size: 16px;
  color: #333;
}

.typeHash {
  font-size: 14px;
  color: #666;
}
