@import '../../../styles/variables.module';

.depositorCardGroup {
  margin-top: 4px;
  gap: 4px;
}

.addressTextCol {
  width: 48%;
  padding: 0 24px;
  text-align: center;
  color: var(--primary-color);

  @media (width <= $mobileBreakPoint) {
    width: 100%;
    padding: 0;
    text-align: start;
  }

  &:hover {
    color: var(--primary-color);
  }
}
