@import '../../../styles/variables.module';

.depositorCardGroup {
  margin-top: 4px;
  gap: 4px;
}

.addressTextCol {
  width: 48%;
  padding: 0 24px;
  text-align: center;
  color: var(--primary-color);

  @media (width <= $mobileBreakPoint) {
    width: 100%;
    padding: 0;
    text-align: start;
  }

  &:hover {
    color: var(--primary-color);
  }
}

.depositorRankPanel {
  width: 100%;
  background: white;
  padding: 20px 40px;
  margin-top: 4px;
  box-shadow: 2px 2px 6px 0 #dfdfdf;
}

.depositorFooterPanel {
  width: 100%;
  background: white;
  padding: 8px 40px;
  display: flex;
  margin-top: 4px;
  box-shadow: 2px 2px 6px 0 #dfdfdf;
  border-radius: 0 0 6px 6px;
}

.depositorRankCardPanel {
  width: 100%;
}

.depositorRankTitle {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  height: 38px;

  > div {
    text-align: center;
  }

  > div:nth-child(1) {
    width: 10%;
  }

  > div:nth-child(2) {
    width: 48%;
  }

  > div:nth-child(3) {
    width: 22%;
  }

  > div:nth-child(4) {
    width: 20%;
  }
}

.depositorSeparate {
  background: #e2e2e2;
  height: 1px;
  width: 100%;
  margin-bottom: 10px;
}

.depositorRankItem {
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 40px;

  @media (max-width: $largeBreakPoint) {
    font-size: 14px;
  }

  > div {
    text-align: center;
  }

  > div:nth-child(1) {
    width: 10%;
  }

  > div:nth-child(2) {
    width: 48%;
  }

  > div:nth-child(3) {
    width: 22%;
  }

  > div:nth-child(4) {
    width: 20%;
  }
}
