.container {
  margin: 40px 120px 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  h5 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0;
  }
}

.list {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;

  table {
    background: #fff;
    position: relative;
    width: 100%;
    margin-bottom: 4px;
    .typeFilter,
    .holderMinted {
      justify-content: end;
    }
  }

  thead {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    th {
      vertical-align: middle;
      padding-top: 12px;
      padding-bottom: 12px;
      text-transform: capitalize;
      white-space: nowrap;
    }
    &:after {
      position: absolute;
      left: -15px;
      top: 44px;
      width: calc(100% + 30px);
      height: 4px;
      content: '';
      display: block;
      background-color: #ededed;
    }
  }

  tbody {
    td {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
    }

    tr:not(:last-child) {
      border-bottom: 1px solid var(--table-separator-color);
    }
  }

  th,
  td {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 0.25vw;

    &:not(:first-of-type) {
      text-align: right;
    }
    &:first-child,
    &:last-child {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon,
  .defaultIcon {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 6px;
    flex-shrink: 0;
    object-fit: cover;
  }

  .defaultIcon {
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }

  .noRecord {
    text-align: center;
  }

  .typeFilter {
    display: flex;
    align-items: center;
    svg {
      cursor: pointer;
    }
    &[data-is-active='true'] {
      svg path {
        fill: var(--primary-color);
      }
    }
  }

  .activeIcon {
    color: var(--primary-color);
    svg {
      path {
        fill: var(--primary-color);
      }
    }
  }
  .filter {
    height: 1rem;
  }
}

.filterItems {
  display: flex;
  flex-direction: column;
  width: 200px;
  a {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    padding: 10px 0px 10px 10px;
    margin-right: 8px;
    border-radius: 8px;
    &:hover {
      background: var(--primary-hover-bg-color);
      color: var(--primary-color);
      cursor: pointer;
    }
    &[data-is-active='false'] {
      color: #000;
      svg {
        display: none;
      }
    }
  }
  svg path {
    fill: var(--primary-color);
  }
}

.antPopover {
  :global {
    .ant-popover-inner {
      border-radius: 8px;
      box-shadow: 0px 2px 10px 0px #eeeeee;
    }
  }
}

.transactionsHeader {
  > span {
    &.sortActive {
      color: var(--primary-color);
    }
  }
  svg {
    cursor: pointer;
  }
}

.holderMinted {
  display: flex;
  align-items: center;
  cursor: pointer;
  .sortActive {
    color: var(--primary-color);
  }
}

div[data-role='mobile-list'] {
  display: none;
  font-size: 0.875rem;

  .listHeader {
    display: flex;
    height: 3rem;
    background: #fff;
    & > div {
      white-space: nowrap;
      flex: 1;
    }
    padding: 0 1rem;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  dl {
    margin-left: 36px;
    margin-bottom: 10px;
    display: flex;
    dt {
      flex: 1;
      min-width: 105px;
    }
    dd {
      flex: 1;
      margin: 0;
    }
  }

  .listHeader + div {
    position: relative;
    &:before {
      position: absolute;
      left: -15px;
      top: -10px;
      width: calc(100% + 30px);
      height: 10px;
      content: '';
      display: block;
      background-color: #ededed;
    }
  }
  .listItem {
    border-bottom: 1px solid #f0f0f0;
    padding: 1rem 1rem 0;
    background: #fff;
    dt::after {
      content: ':';
    }
    dd {
      a {
        font-weight: 500 !important;
      }
    }
  }
  .holderMinted {
    padding-left: 36px;
  }
  .loading {
    text-align: center;
  }
}

.nftTooltip {
  a {
    color: var(--primary-color);
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 40px 45px 60px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 40px 8px 60px;
    table[data-role='desktop-list'] {
      display: none;
    }
    div[data-role='mobile-list'] {
      display: block;
    }
  }
  .antPopover {
    :global {
      .ant-popover-inner-content {
        padding: 14px 15px 14px 12px !important;
      }
    }
  }
}
@media screen and (max-width: 350px) {
  div[data-role='mobile-list'] {
    font-size: 0.8rem;
  }
}
