.container {
  margin: 40px 120px 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  h5 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0;
  }
}

.list {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;

  table {
    position: relative;
    width: 100%;
    margin-bottom: 4px;
    color: #333;
  }

  thead {
    tr {
      background: #fff;
      border-bottom: 4px solid var(--table-separator-color);
    }

    th {
      line-height: 56px;
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }

  tbody {
    tr {
      background: #fff;

      &:not(:last-child) {
        border-bottom: 1px solid var(--table-separator-color);
      }
    }

    td {
      line-height: 64px;
      font-size: 14px;
    }
  }

  th,
  td {
    text-align: left;
    padding: 0 24px;
    max-width: 0.25vw;
  }

  .name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon,
  .defaultIcon {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 6px;
    flex-shrink: 0;
    object-fit: cover;
  }

  .defaultIcon {
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }

  .noRecord {
    text-align: center;
  }

  .typeFilter {
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
    }

    &[data-is-active='true'] {
      .filter {
        color: var(--primary-color);
      }
    }
  }

  .activeIcon {
    color: var(--primary-color);

    svg {
      path {
        fill: var(--primary-color);
      }
    }
  }

  .filter {
    margin-left: 8px;
    color: #999;
  }
}

.filterItems {
  display: flex;
  flex-direction: column;
  width: 200px;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    padding: 10px 0 10px 10px;
    border-radius: 8px;

    &:hover {
      background: var(--primary-hover-bg-color);
      color: var(--primary-color);
      cursor: pointer;
    }

    &[data-is-active='true'] {
      pointer-events: none;
    }

    &[data-is-active='false'] {
      color: #000;

      svg {
        display: none;
      }
    }
  }

  svg path {
    fill: var(--primary-color);
  }
}

.antPopover {
  :global {
    /* stylelint-disable-next-line selector-class-pattern */
    .ant-popover-inner {
      border-radius: 8px;
      box-shadow: 0 2px 10px 0 #eee;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .ant-popover-inner-content {
      padding: 14px 24px 14px 16px;
    }
  }
}

.transactionsHeader {
  > span {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.sortActive {
      color: var(--primary-color);
    }
  }

  svg {
    cursor: pointer;
  }
}

.holderMinted {
  display: flex;
  align-items: center;

  .sortActive {
    color: var(--primary-color);
  }

  .divider {
    margin: 0 4px;
  }

  & > div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

div[data-role='mobile-list'] {
  display: none;
  font-size: 0.875rem;

  .listHeader {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 16px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;

    & > div {
      white-space: nowrap;
      flex: 1 50%;
    }
  }

  dl {
    margin-left: 36px;
    margin-bottom: 10px;
    display: flex;

    dt {
      flex: 1;
      min-width: 105px;
    }

    dd {
      flex: 1;
      margin: 0;
    }
  }

  .listHeader + div {
    position: relative;

    &::before {
      position: absolute;
      left: -15px;
      top: -10px;
      width: calc(100% + 30px);
      height: 10px;
      content: '';
      display: block;
      background-color: #ededed;
    }
  }

  .listItem {
    border-bottom: 1px solid #f0f0f0;
    padding: 1rem 1rem 0;
    background: #fff;

    dt::after {
      content: ':';
    }
  }

  .loading {
    text-align: center;
  }
}

.nftTooltip {
  a {
    color: var(--primary-color);
  }
}

@media screen and (width <= 1200px) {
  .container {
    margin: 40px 45px 60px;
  }
}

@media screen and (width <= 1000px) {
  .container {
    margin: 20px 16px 60px;

    table[data-role='desktop-list'] {
      display: none;
    }

    div[data-role='mobile-list'] {
      display: block;
    }
  }
}

@media screen and (width <= 350px) {
  div[data-role='mobile-list'] {
    font-size: 0.8rem;
  }
}
