@import '../../styles/variables.module';

.container {
  margin: 40px 120px 60px;
}

.tags {
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
  margin-left: 8px;
}

.tokensCard {
  margin-top: 10px;
  padding: 16px;
  font-size: 14px;
  box-shadow: 0 4px 4px 0 rgb(16 16 16 / 5%);
  color: #333;

  .tokenInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &:first-child {
      margin-top: 16px;
    }

    &:last-child {
      margin-bottom: 16px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #f5f5f5;
      padding-bottom: 16px;
    }

    &:not(:first-child) {
      margin-top: 16px;
    }

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--666666, #666);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      & + dd {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .value {
      color: var(--333333, #333);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.colTags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  h5 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0;
  }
}

.list {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;

  table {
    table-layout: fixed;
    width: 100%;
    background: #fff;
    margin-bottom: 4px;
    color: #333;
    text-overflow: ellipsis;
  }

  thead {
    tr {
      background: #fff;
      border-bottom: 4px solid var(--table-separator-color);
    }

    th {
      line-height: 56px;
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }

  th,
  td {
    height: 4rem;
    padding: 0 8px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    max-width: 100%;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
      padding-left: 2em;
    }

    &:last-child {
      padding-right: 2em;
    }

    &.noRecord:last-child {
      text-align: center;
    }
  }

  .name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon,
  .defaultIcon {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 6px;
    flex-shrink: 0;
    object-fit: cover;
  }

  .defaultIcon {
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }

  .noRecord {
    background-color: #fff;
    text-align: center;
  }

  .typeFilter {
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
    }

    &[data-is-active='true'] {
      .filter {
        color: var(--primary-color);
      }
    }
  }

  .activeIcon {
    color: var(--primary-color);

    svg {
      path {
        fill: var(--primary-color);
      }
    }
  }

  .filter {
    color: #999;
  }
}

.filterItems {
  display: flex;
  flex-direction: column;
  width: 200px;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    padding: 10px 0 10px 10px;
    border-radius: 8px;

    &:hover {
      background: var(--primary-hover-bg-color);
      color: var(--primary-color);
      cursor: pointer;
    }

    &[data-is-active='true'] {
      pointer-events: none;
    }

    &[data-is-active='false'] {
      color: #000;

      svg {
        display: none;
      }
    }
  }

  svg path {
    fill: var(--primary-color);
  }
}

.antPopover {
  :global {
    /* stylelint-disable-next-line selector-class-pattern */
    .ant-popover-inner {
      border-radius: 8px;
      box-shadow: 0 2px 10px 0 #eee;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .ant-popover-inner-content {
      padding: 14px 24px 14px 16px;
    }
  }
}

.transactionsHeader {
  > span {
    display: flex;
    align-items: center;
    cursor: pointer;

    &.sortActive {
      color: var(--primary-color);
    }
  }

  svg {
    cursor: pointer;
  }
}

.holderMinted {
  display: flex;
  align-items: center;

  .sortActive {
    color: var(--primary-color);
  }

  .divider {
    margin: 0 4px;
  }

  & > div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.filterSortCard:not(
    [_='This `:not` selector is used to increase the specificity of the selector and serves no other purpose.']
  ) {
  padding: 16px;
}

.link {
  display: flex;
  align-items: center;
  color: var(--primary-color);

  &:hover {
    color: var(--primary-color);
  }
}

.nftTooltip {
  a {
    color: var(--primary-color);
  }
}

@media (width <= $extraLargeBreakPoint) {
  .container {
    margin: 40px 45px 60px;
  }
}

@media (width <= $largeBreakPoint) {
  .container {
    margin: 20px 16px 60px;

    table[data-role='desktop-list'] {
      display: none;
    }

    div[data-role='mobile-list'] {
      display: block;
    }
  }
}

@media (width <= 350px) {
  div[data-role='mobile-list'] {
    font-size: 0.8rem;
  }
}
