@use '../../styles/variables.module';

.container {
  margin-top: 120px;
  margin-bottom: 140px;
}

.notFoundImage {
  width: 1038px;
  height: 480px;
  margin: 0 auto;
  display: block;

  @media (width <= variables.$mobileBreakPoint) {
    width: 282px;
    height: 130px;
  }
}
