@use '../../../styles/variables.module';

.smallLoadingPanel {
  margin: 15px 0;
  text-align: center;
  display: flex;
  justify-content: center;

  :global(.loadingWhite) {
    opacity: 0.8;
  }

  > img {
    width: 135px;
    height: 39px;
  }

  @media (max-width: variables.$mobileBreakPoint) {
    margin: 8px 0;

    > img {
      width: 68px;
      height: 20px;
    }
  }
}
