.content {
  background-color: rgb(0 0 0 / 85%);
  border-radius: 8px;
  padding: 10px 16px;
  min-width: 30px;
  min-height: 32px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  max-width: 320px;
}

.arrow {
  fill: rgb(0 0 0 / 85%);
}

.popover {
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 10px 0 #eee;
}

.popoverArrow {
  fill: #fff;
}
