body {
  margin: 0;
  padding: 0;
  font-family:  PingFang SC, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Sans CJK SC', 
    'Noto Sans CJK', 'Source Han Sans', source-han-sans-simplified-c,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*[role]:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}