@use '../../../styles/variables.module';
@use '../../../styles/table.module';

.container {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  margin: 24px 120px;
  font-size: 1rem;

  a {
    color: var(--primary-color);
  }

  table {
    @extend %base-table;

    tr[data-role='pagination']:hover {
      background: #fff;
    }
  }

  svg {
    pointer-events: none;
  }

  button {
    display: flex;
    align-items: center;
    appearance: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      color: var(--primary-color-hover);
    }
  }

  .name {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .peerId {
    display: flex;
    gap: 4px;
  }

  .rpc {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 4px;

    & > span:first-child {
      display: block;
      max-width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    button,
    a,
    .more {
      display: flex;
      align-items: center;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;

    button {
      font-size: 0.875rem;
      color: var(--primary-color);
      padding-left: 8px;
    }
  }

  .balance {
    display: flex;
    flex-direction: column;
  }

  @media screen and (width < variables.$extraLargeBreakPoint) {
    margin: 24px 20px;
  }

  @media screen and (width < 1030px) {
    font-size: 14px;

    table {
      th,
      td {
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }

  @media screen and (width < 810px) {
    table {
      tr:not([data-role='pagination']) {
        th,
        td {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (width < 600px) {
    table {
      th,
      td {
        &:nth-child(6) {
          display: none;
        }
      }
    }
  }

  @media screen and (width < 420px) {
    table {
      th,
      td {
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
}
