@import url('./assets/fonts/fonts.css');

body {
  --primary-color: #00cc9b;
  --accent-color: #fa504f;
  --primary-text-color: #333;
  --primary-hover-bg-color: #e8fff1;
  --primary-chiffon-color: #e6fcf7;
  --navbar-height: 64px;
  --table-separator-color: #f5f5f5;

  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body[data-chain-type='testnet'] {
  --primary-color: #9a2cec;
  --primary-hover-bg-color: #eeeafc;
  --primary-chiffon-color: #eeeafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif, Montserrat, 'PingFang SC', -apple-system;
}

.monospace {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*[role]:focus {
  outline: none;
}

.container {
  width: auto;
  margin: 0 120px;
}

@media (width <= 1440px) {
  .container {
    width: auto;
    margin: 0 100px;
  }
}

@media (width <= 1200px) {
  .container {
    width: auto;
    margin: 0 45px;
  }
}

@media (width <= 750px) {
  .container {
    width: auto;
    margin: 0 18px;
  }
}

a {
  text-decoration: none;
  font-size: inherit;
  font-weight: 500;
  color: inherit;
}

/* stylelint-disable selector-class-pattern */
@media (width <= 750px) {
  .rc-pagination-options-quick-jumper {
    display: none;
  }
}

@media (width <= 750px) {
  .ant-popover-inner-content {
    padding: 5px;
  }
}

.ant-tooltip-inner {
  white-space: pre-wrap;
}

.ant-btn-primary:hover,
.ant-tabs-tab:hover {
  color: var(--primary-color);
}
/* stylelint-enable selector-class-pattern */
