body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Montserrat-Regular, PingFang SC, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Noto Sans CJK SC', 'Noto Sans CJK',
    'Source Han Sans', source-han-sans-simplified-c, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

.address {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*[role]:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  font-size: inherit;
  font-weight: 500;
  color: inherit;
}

@media (max-width: 700px) {
  .rc-pagination-options-quick-jumper {
    display: none;
  }
}

@media (max-width: 700px) {
  .ant-popover-inner-content {
    padding: 5px !important;
  }
}

.ant-select-selection-selected-value {
  color: #000000;
}

.ant-select-selection {
  border-color: #b3b3b3 !important;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 255) !important;
}

.ant-select-dropdown-menu-item-active {
  background: #f5f5f5 !important;
}

.ant-select-dropdown-menu {
  color: #000000 !important;
  font-size: 12px;
  letter-spacing: 0.6px;
}
