@import '../../../styles/variables.module';

.mobileMenusPanel {
  flex: 1;
  width: 100%;
  background: #1c1c1c;
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: white;
  overflow: auto;
  overscroll-behavior: contain;
}
