.rgbpp {
  color: rgb(51 51 51 / 100%);
  display: flex;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  justify-content: center;

  // width: 45px;
  padding: 4px;
  height: 22px;
  background: linear-gradient(90.24deg, #ffd176 0.23%, #ffdb81 6.7%, #84ffcb 99.82%);
  vertical-align: middle;
}
