@import '../../../styles/variables.module';
@import '../../../styles/table.module';

.container {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  margin: 24px 120px;
  font-size: 1rem;

  a {
    color: var(--primary-color);
  }

  table {
    @extend %base-table;

    font-size: 1rem;

    tr[data-role='pagination']:hover {
      background: #fff;
    }
  }

  svg {
    pointer-events: none;
  }

  button {
    display: flex;
    align-items: center;
    appearance: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }

    svg {
      width: 12px;
    }
  }

  .cellLabel {
    display: none;
    color: #666;
    font-size: 1rem;
  }

  .name {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .funding {
    display: flex;
    flex-direction: column;

    .token {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  .nodeId,
  .chainHash {
    display: flex;
    gap: 4px;
  }

  .address {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 4px;

    & > span:first-child {
      display: block;
      max-width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    button,
    a,
    .more {
      display: flex;
      align-items: center;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    margin: 0;
    padding: 12px 0;
    background: #fff;
    width: 100%;
  }

  .amount {
    display: flex;
    flex-direction: column;
  }

  @media screen and (width < $extraLargeBreakPoint) {
    margin: 24px 20px;
  }

  @media screen and (width < 1400px) {
    table {
      thead tr:not([data-role='header']),
      tbody tr:not([data-role='pagination']) {
        th,
        td {
          &:nth-child(5) {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (width < 1240px) {
    table {
      thead tr:not([data-role='header']),
      tbody tr:not([data-role='pagination']) {
        th,
        td {
          &:nth-child(1) {
            display: none;
          }
        }
      }
    }

    thead tr[data-role='header'] {
      td {
        padding: 0 8px !important;
      }
    }
  }

  @media screen and (width < 1024px) {
    table {
      thead tr:not([data-role='header']),
      tbody tr:not([data-role='pagination']) {
        th,
        td {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (width < 840px) {
    .cellLabel {
      display: flex;
    }

    .name {
      max-width: unset;
    }

    table {
      thead {
        tr:not([data-role='header']) {
          display: none;
        }
      }

      tbody {
        tr:hover {
          background: #fff;
        }

        tr:not([data-role='pagination']) {
          td {
            display: flex !important;
            flex-direction: column;
            margin: 0 16px;
            padding: 16px 0 !important;

            .address {
              justify-content: flex-start;
            }

            &:not(:last-child) {
              border-bottom: 1px solid #e5e5e5;
            }
          }
        }

        tr:not(:last-child) {
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background: #e5e5e5;
          }
        }

        tr:nth-last-of-type(2) {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
