@use '../../../styles/variables.module';
@use '../../../styles/table.module';

.container {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  margin: 24px 120px;
  font-size: 1rem;
  gap: 24px;

  a {
    color: var(--primary-color);
  }

  table {
    @extend %base-table;

    font-size: 1rem;

    td,
    th {
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    tbody {
      tr:not([data-role='pagination']) {
        position: relative;

        td {
          padding-top: 24px;
          padding-bottom: 24px;
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 40px;
          right: 16px;
          height: 1px;
          background-color: #f5f5f5;

          @media screen and (width < variables.$extraLargeBreakPoint) {
            left: 16px;
          }
        }
      }
    }

    tr[data-role='pagination']:hover {
      background: #fff;
    }
  }

  svg {
    pointer-events: none;
  }

  button {
    display: flex;
    align-items: center;
    appearance: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }

    svg {
      width: 12px;
    }
  }

  .cellLabel {
    display: none;
    color: #666;
    font-size: 1rem;
  }

  .name {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .funding {
    display: flex;
    flex-direction: column;

    .token {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  .nodeId,
  .chainHash {
    display: flex;
    gap: 4px;
  }

  .address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1;

    span:first-child {
      display: flex;
      align-items: center;
      gap: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    button,
    a,
    .more {
      display: flex;
      align-items: center;
    }

    .isp {
      display: flex;
      align-items: center;

      & > span:first-child {
        display: block;
        max-width: 16ch;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    margin: 0;
    padding: 12px 0;
    background: #fff;
    width: 100%;
  }

  .amount {
    display: flex;
    flex-direction: column;
  }

  @media screen and (width < variables.$extraLargeBreakPoint) {
    margin: 24px 20px;
  }

  @media screen and (width < 1400px) {
    table {
      thead tr:not([data-role='header']),
      tbody tr:not([data-role='pagination']) {
        th,
        td {
          &:nth-child(5) {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (width < variables.$extraLargeBreakPoint) {
    table {
      thead tr:not([data-role='header']),
      tbody tr:not([data-role='pagination']) {
        th,
        td {
          &:nth-child(1) {
            display: none;
          }
        }
      }
    }

    thead tr[data-role='header'] {
      td {
        padding: 0 8px !important;
      }
    }
  }

  @media screen and (width < 1024px) {
    table {
      thead tr:not([data-role='header']),
      tbody tr:not([data-role='pagination']) {
        th,
        td {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (width < 840px) {
    .cellLabel {
      display: flex;
    }

    .name {
      max-width: unset;
    }

    table {
      thead {
        tr:not([data-role='header']) {
          display: none;
        }
      }

      tbody {
        tr:hover {
          background: #fff;
        }

        tr:not([data-role='pagination']) {
          td {
            display: flex !important;
            flex-direction: column;
            margin: 0 16px;
            padding: 16px 0 !important;

            .address {
              justify-content: flex-start;
              align-items: flex-start;
              gap: 0;
            }

            &:not(:last-child) {
              border-bottom: 1px solid #e5e5e5;
            }
          }
        }

        tr:not(:last-child) {
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background: #e5e5e5;
            left: 0;
          }
        }

        tr:nth-last-of-type(2) {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.geo {
  width: 100%;
  padding: 24px 40px;
  background: #fff;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 12%) 0 2px 6px 0;

  h5 {
    font-weight: 500;
    font-size: 20px;
  }

  @media screen and (width < variables.$extraLargeBreakPoint) {
    padding: 8px;
  }
}

.nameFallback {
  color: #999;
  text-underline-offset: 2px;
  text-decoration: underline;
  font-weight: 400;

  &:hover {
    color: var(--primary-color);
  }
}

.hiddenThresholds {
  position: relative;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 0.75rem;
  font-weight: 600;
  background: #f0f0f0;
  line-height: 1;
  border-radius: 50%;

  .count {
    cursor: pointer;
    mix-blend-mode: darken;
  }

  &:hover {
    .items {
      display: flex;
    }
  }

  .items {
    position: absolute;
    display: none;
    flex-direction: column;
    bottom: 100%;
    left: 0;
    min-width: 200px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 #eee;
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;

    & > div {
      padding: 4px 8px;

      &:hover {
        background: #f0f0f0;
      }

      &:first-child {
        padding-top: 8px;
      }

      &:last-child {
        padding-bottom: 8px;
      }
    }

    img {
      margin-right: 8px;
    }
  }
}

.times {
  display: flex;
  flex-direction: column;

  time {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  time[data-is-offline='true'] {
    color: #999;
  }
}
