$backgroudColor: #232323;

.Root {
  width: 100%;
  background-color: $backgroudColor;
  height: 200px;
  position: relative;
  background-image: url('../../assets/ckb_explorer_banner.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;

  @media (width <= 750px) {
    background-image: url('../../assets/ckb_explorer_banner_phone.svg');
  }
}
