name: CI

on: 
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 0

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          # specify the `main` branch as the remote branch to push to
          branch: 'main'
          git_remote_url: ${{ secrets.MAINNET_HOST_URL }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
