.alert {
  position: relative;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e5e5;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;

  &.default {
    background: transparent;
    color: #333;
  }

  &.destructive {
    border-color: hsl(var(--destructive) / 50%);
    color: hsl(var(--destructive));
  }
}

.alertDescription {
  font-size: 0.875rem;
  line-height: 1.25rem;

  p {
    line-height: 1.625;
  }
}

.alertTitle {
  margin-bottom: 0.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  line-height: 1;
}
