.blockCardGroup {
  margin-top: 10px;
}

.sortIcon {
  display: flex;
  margin-left: 8px;
  cursor: pointer;

  &[data-order='asc'] {
    svg > path:last-child {
      fill: var(--primary-color);
    }
  }

  &[data-order='desc'] {
    svg > path:first-child {
      fill: var(--primary-color);
    }
  }
}

.loadingSection {
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  background: #fff;
}
