.sortIcon {
  display: flex;
  margin-left: 8px;
  cursor: pointer;
}

.sortAsc {
  svg > path:first-child {
    fill: var(--primary-color);
  }
}

.sortDesc {
  svg > path:last-child {
    fill: var(--primary-color);
  }
}
